/*===================================================
 blog.scss
 blogページの指定
================================================== */
/* //////////// 変数読み込み //////////// */
@use "../mixin/mixin" as *;
@use "../config/variables" as *;
@use "../config/function" as *;
@use "../config/mq" as *;
/* //////////// 変数読み込み //////////// */

.top-blog {
  margin-bottom: 48px
}

.blog-wrapper {
  display: flex;
  gap: 0 64px;
  flex-wrap: wrap;
  @include mq(tab) {
    gap: 32px;
  }

  @include mq(sp) {
    gap: 32px 16px;
  }

  & .primary-button {
    margin-top: 40px;
  }
}
/* --------------------------------------------------
  
-------------------------------------------------- */
.blog-list {
  @include maxWidth;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @include mq(tab) {
    gap: 16px 16px;
  }
}

/* --------------------------------------------------
  最新の記事一覧
-------------------------------------------------- */
.new-article {
  overflow: hidden;
  position: relative;
  display: -webkit-box;

  &__wrapper {
    display: flex;
    gap: 32px;
    @include mq(tab) {
      flex-wrap: wrap;
      gap: 32px;
    }

    @include mq(sp) {
      gap: 48px;
    }
  }

  &__item {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 16px;
    border-bottom: 1px solid $border-base;
    @include mq(tab) {
      width: calc(100% / 2 - 16px / 2 * 2);
    }

    @include mq(sp) {
      width: 100%;
    }
  }

  &__thumb {
    overflow: hidden;
    margin-bottom: 16px;
    & > img {
      width: 100%;
      transition: 0.5s;
      &:hover {
        transform: scale(1.1);
      }
    }
  }

  &__category {
    display: flex;
    margin-bottom: 16px;
  }

  &__category-link {
    display: inline-block;
    font-size: fluid-size(12, 14);
    position: relative;
    padding-left: 24px;
    color: $font-black;
    &:nth-child(n + 2) {
      margin-left: 24px;
      @include mq(tab) {
        margin-left: 12px;
        margin-bottom: 0;
      }
    }
    &:last-child {
      margin-right: 0;
    }

    &::after {
      position: absolute;
      top: 0;
      left: 0;
      content: url("../../images/ico/ico_folder.svg");
      vertical-align: bottom;
    }

    &::before {
      @include hoverBorder;
      bottom: -4px;
    }

    &:hover::before {
      transform: scale(1, 1);
    }

    @include mq(tab) {
      margin: 0 0 0 0;
    }
  }

  &__label {
    display: flex;
    flex-direction: column;
  }

  &__label-inner {
    flex-grow: 1;
  }

  &__title-link {
    font-weight: 600;
    font-size: fluid-size(14, 16);
    margin-bottom: 12px;
    color: $font-black;
    line-height: 1.5;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;

    @include mq(pc) {
      height: 48px;
    }

    &:hover {
      @include hoverText;
    }
  }

  &__date-box {
    text-align: right;
  }

  &__date {
    flex-grow: 1;
    padding-left: 24px;
    display: inline-block;
    font-size: fluid-size(13, 14);
    position: relative;
    color: $font-black;
    &::before {
      position: absolute;
      top: 1px;
      left: 0;
      content: url("../../images/ico/ico_clock.svg");
      @include mq(sp) {
        left: 0;
      }
    }
  }
}


/* --------------------------------------------------
  single.php
  ブログ記事CSSスタイル
-------------------------------------------------- */
.blog-heading {
  padding-bottom: 16px;
  border-bottom: 1px solid $border-base;
  margin-bottom: 32px;

  &__title {
    font-size: fluid-size(18, 24);
    margin-bottom: 24px;
    line-height: 1.5;
  }

  &__genre {
    display: flex;
  }

  &__date {
    font-size: fluid-size(12, 14);
    position: relative;
    display: block;
    padding-left: 20px;
    margin-left: auto;
    &::before {
      position: absolute;
      top: 1px;
      left: 0;
      content: url("../../images/ico/ico_clock.svg");
      @include mq(sp) {
        right: 70px;
      }
    }
  }

  &__category-link {
    display: inline-block;
    font-size: fluid-size(12, 14);
    position: relative;
    padding-left: 24px;
    color: $font-black;
    &:nth-child(n + 2) {
      margin-left: 24px;
      @include mq(tab) {
        margin-left: 12px;
        margin-bottom: 0;
      }
    }
    &:last-child {
      margin-right: 0;
    }

    &::after {
      position: absolute;
      top: 0;
      left: 0;
      content: url("../../images/ico/ico_folder.svg");
      vertical-align: bottom;
    }

    &::before {
      @include hoverBorder;
      bottom: -4px;
    }

    &:hover::before {
      transform: scale(1, 1);
    }

    @include mq(tab) {
      margin: 0 0 0 0;
    }
  }
}

.blog-eyecatch {
  margin-bottom: 48px;
  & > img {
    width: 100%;
    height: auto;
  }
}

/* --------------------------------------------------
 ブログ記事内前後遷移リンク
-------------------------------------------------- */
.blog-prev_next {
  max-width: 768px;
  margin: 0 auto;
  
  &__list {
    display: flex;
    gap: 40px;
    @include mq(sp) {
      flex-direction: column;
      gap: 8px;
    }
  }

  &__item {
    width: 100%;
    display: block;

    @include mq(tab) {
      margin-bottom: 32px;
      padding-right: 0;
      border: none;
      &:last-child {
        margin-bottom: 0;
        padding-left: 0;
      }
    }

  }

  &__btn {
    font-size: fluid-size(14, 16);
    color: $font-black;
    margin-bottom: 8px;
    text-align: left;
    font-weight: 600;
    &--next {
      text-align: right;
    }
  }

  &__label {
    display: flex;
    align-items: center;
    gap: 16px;
    border-top: 1px solid $border-base;
    border-bottom: 1px solid $border-base;
  }

  &__thumb {
    width: 70%;
    overflow: hidden;
    &:nth-child(2) {
      margin-right: 0;
    }
    & > img {
      transition: 0.5s;
      width: 100%;

      &:hover {
        transform: scale(1.2);
      }
    }
    @include mq(sp) {
      width: 50%;
    }
  }

  &__title-inner {
    width: 100%;
    position: relative;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    @include mq(sp) {
      width: 100%;
    }
  }

  &__title-text {
    font-size: fluid-size(14, 14);
    font-weight: 600;
    color: $font-black;
    &:hover {
      @include hoverText;
    }
  }
}

/* --------------------------------------------------
 ブログ関連記事一覧
-------------------------------------------------- */
.related-article {
  &__label {
    text-align: center;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }

  &__item {
    width: calc(100% / 3 - 16px / 3 * 3);
    border-bottom: 1px solid $border-base;
    padding-bottom: 16px;
    @include mq(sp) {
      width: calc(100% / 2 - 16px / 3 * 3);
    }
  }

  &__thumb {
    margin-bottom: 8px;
  }

  &__title {
    color: $font-black;
    font-weight: 600;
    font-size: 1.4rem;
    margin-bottom: 16px;
    letter-spacing: 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;

    @include mq(pc) {
      height: 40px;
    }

    @include mq(sp) {
      min-height: 32px;
    }
 
    &:hover {
      @include hoverText;
    }
  }

  &__date-box {
    text-align: right;
  }

  &__date {
    font-size: fluid-size(12, 14);
    position: relative;
    display: inline-block;
    padding-left: 20px;
    margin-left: auto;
    color: $font-black;
    &::before {
      position: absolute;
      top: 1px;
      left: 0;
      content: url("../../images/ico/ico_clock.svg");
    }
  }
}