/*===================================================
 news.scss
 ニュース一覧・詳細ページ
================================================== */
/* //////////// 変数読み込み //////////// */
@use "../mixin/mixin" as *;
@use "../mixin/animation" as *;
@use "../config/variables" as *;
@use "../config/function" as *;
@use "../config/mq" as *;
/* //////////// 変数読み込み //////////// */

/* --------------------------------------------------
 ニュース詳細ページ
-------------------------------------------------- */
.news-desc {
  .wp-block-image {
    text-align: center;
    padding: 32px 0;
  }

  p {
    margin-bottom: 16px
  }
}
