/*===================================================
 visual.scss
 各ページビジュアルの定義
================================================== */
/* //////////// 変数読み込み //////////// */
@use "../mixin/mixin" as *;
@use "../mixin/animation" as *;
@use "../config/variables" as *;
@use "../config/function" as *;
@use "../config/mq" as *;
/* //////////// 変数読み込み //////////// */

/* --------------------------------------------------
 Top-Works トップページ Works 制作実績 指定 
-------------------------------------------------- */
.top-works {
  display: flex;
  justify-content: space-between;
  &:last-child {
    margin-bottom: 0;
  }
  &--odd {
    justify-content: space-between;
    flex-direction: row-reverse;
  }

  @include mq(tab) {
    margin-bottom: 24px;
  }

  @include mq(sp) {
    flex-wrap: wrap;
    flex-direction: column;
    margin: 32px auto 0 auto;
    padding-top: 0;
 
  }

  &__thumb {
    width: 25%;
    margin-right: 64px;
    &--odd {
      margin-right: 0;
      margin-left: 64px;
    }
    @include mq(tab) {
      margin-right: 32px;
      width: 30%;

      &--odd {
        margin-right: 0;
        margin-left: 32px;
      }
    }
    @include mq(sp) {
      width: 80%;
      margin: 0 auto 24px auto;
    }

  }

  &__image {
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.16);
    @include mq(sp) {
      width: 100%;
    }
  }

  &__text-box {
    margin-bottom: 32px;
  }

  &__text {
    display: block;
    font-size: fluid-size(14, 16);

    @include mq(tab) {
      margin-bottom: 16px;
    }
  }

  &__desc {
    flex: 1;
  }

  /* ===== モックアップの指定 ===== */
  &__mockup-list {
    display: flex;

    @include mq(tab) {
      flex-wrap: nowrap;
    }

    @include mq(sp) {
      flex-wrap: wrap;
      justify-content: center;
      gap: 40px 0;
    }
  }

  &__mockup-label {
    text-align: center;
    font-size: fluid-size(16, 16);
    font-weight: 600;
    margin-top: 16px;
    font-family: $font-heading;
  }

  &__mockup-item {
    width: 50%;
    border-right: 1px solid $border-base;

    &:first-child {
      padding-right: 24px;
      @include mq(sp) {
        padding: 0;
      }
    }

    &:nth-child(2) {
      padding-left: 24px;
      border-right: none;
      @include mq(sp) {
        padding: 0;
      }
    }

    @include mq(tab) {
      width: 50%;
    }

    @include mq(sp) {
      width: 100%;
      border-right: none;
      &:last-child {
        margin-bottom: 32px;
      }
    }
  }

  &__mockup-thumb {
    width: 100%;
    overflow: hidden;
    position: relative;
  }

  &__mockup-image {
    transition: 0.5s;
    &:hover {
      transform: scale(1.05);
    }
  }
}

/* ******* トップページ SP画面限定 ******* */
.page-link-sp {
  font-size: fluid-size(14, 14);

  @include mq(tab) {
    text-align: center;
  }
  &--news {
    width: 231px;
  }

  &__link {
    display: inline-block;
    color: $font-black;
    font-weight: 600;
    position: relative;
    padding: 0 24px 4px 0;
    border-bottom: 1px solid $border-base;
    &::before {
      @include stickArrow;
    }
    &::after {
      @include hoverBorder;
      bottom: -4px;
    }
  }
}
/* ******* トップページ SP画面限定 ******* */

/* --------------------------------------------------
 Top-About トップページ About Yukuro CreateFolioについて 指定 
-------------------------------------------------- */
.top-about {
  display: flex;
  align-items: center;
  gap: 64px;
  margin-bottom: 40px;

  @include mq(tab) {
    flex-wrap: nowrap;
    gap: 48px;
  }

  @include mq(sp) {
    gap: 32px;
    flex-wrap: wrap;
  }

  &__desc {
    width: 60%;
    font-size: fluid-size(14, 16);

    @include mq(tab) {
      width: 100%;
    }

    @include mq(sp) {
      width: 100%;
    }
  }

  &__text {
    line-height: 1.5;
    margin-bottom: 16px;
    &:last-child {
      margin-bottom: 0;
    }

    @include mq(sp) {
      margin-bottom: 16px;
    }
  }

  &__profile-img {
    width: 50%;

    @include mq(tab) {
      width: 80%;
    }

  }
}

/* --------------------------------------------------
 Top-Blog Blog ブログ 指定 
-------------------------------------------------- */

/* --------------------------------------------------
 Top-News News お知らせ 指定 
-------------------------------------------------- */
// .news-list {
//   @include centerWidth;
//   @include mq(sp) {
//     margin-bottom: 24px;
//   }

//   &__item {
//     display: flex;
//     align-items: center;
//     padding: 24px 0;
//     border-bottom: 1px solid $border-base;
//     &:first-child {
//       padding-top: 0;
//     }
//     &:last-child {
//       margin-bottom: 0;
//     }

//     @include mq(sp) {
//       flex-wrap: wrap;
//     }

//     & > p {
//       margin-bottom: 0;
//     }
//   }

//   &__date {
//     font-size: fluid-size(14, 16);
//     font-weight: 300;
//     padding-right: 32px;
//     border-right: 1px solid $border-base;
//     &--lg {
//       font-size: fluid-size(20, 32);
//       border: none;
//       padding-right: 0;
//     }
//   }

//   &__tag {
//     width: 96px;
//     height: 32px;
//     line-height: 32px;
//     text-align: center;
//     border: 1px solid $border-black;
//     margin-left: 32px;
//     border-radius: 4px;
//     font-size: fluid-size(14, 14);
//   }

//   &__text-link {
//     width: 644px;
//     margin-left: 32px;
//     font-size: fluid-size(14, 16);
//     color: $font-black;
//     position: relative;
//     padding-right: 32px;
//     overflow: hidden;
//     display: -webkit-box;
//     -webkit-box-orient: vertical;
//     -webkit-line-clamp: 2;
//     @include mq(sp) {
//       padding-top: 24px;
//       margin-left: 0;
//       width: 100%;
//     }
//     &:hover {
//       @include hoverText;
//     }
//   }
// }

// .news-desc {
//   @include centerWidth;
//   @include mq(sp) {
//     margin-bottom: 24px;
//   }
// }
