/*===================================================
 visual.scss
 各ページビジュアルの定義
================================================== */
/* //////////// 変数読み込み //////////// */
@use "../mixin/mixin" as *;
@use "../mixin/animation" as *;
@use "../config/variables" as *;
@use "../config/function" as *;
@use "../config/mq" as *;
/* //////////// 変数読み込み //////////// */

/* --------------------------------------------------
 Top-Works トップページ Works 制作実績 指定 
-------------------------------------------------- */
.top-works {
  display: flex;
  align-items: flex-end;
  padding-top: 80px;
 
  &:last-child {
    margin-bottom: 0;
  }
  &--odd {
    flex-direction: row-reverse;
  }

  @include mq(tab) {
    padding-top: 24px;
  }

  @include mq(sp) {
    flex-wrap: wrap;
    margin: 32px auto 0 auto;
    padding-top: 0;
  }

  &__thumb {
    margin-right: 64px;
    &--odd {
      margin: 0 0 0 64px;
    }
    @include mq(sp) {
      margin: 0 0 24px 0;
    }
  }

  &__image {
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.16);
    width: vw(427, 768);

    @include mq(sp) {
      box-shadow: none;
      width: vw(357, 767);
    }
  }

  &__text {
    display: block;
    font-size: fluid-size(14, 16);
    margin: 4% 32px;

    @include mq(tab) {
      margin: 0 0 24px;
    }
  }

  /* ===== モックアップの指定 ===== */
  &__mockup-box {
    display: flex;

    @include mq(sp) {
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 24px;
    }
    @include mq(tab) {
      flex-wrap: nowrap;
    }
  }

  &__mockup-title {
    text-align: center;
    font-size: fluid-size(16, 18);
    margin-bottom: 16px;
    @include mq(sp) {
      margin-bottom: 8px;
    }
  }

  &__mockup-item {
    border-left: 1px dotted $border-black;
    border-right: 1px dotted $border-black;
    padding: 0 32px;
    &:nth-child(2) {
      border-left: none;
      margin-right: 0;
    }

    @include mq(sp) {
      max-width: 70%;
      margin: 0 auto;
      border-top: 1px dotted $border-black;
      border-bottom: 1px dotted $border-black;
      border-left: none;
      border-right: none;
      padding: 16px 0;
      &:nth-child(2) {
        border-top: none;
        margin-left: 0;
      }
    }

    @include mq(tab) {
      max-width: 50%;
      border-left: 1px dotted $border-black;
      border-right: 1px dotted $border-black;
      border-top: none;
      border-bottom: none;
      padding: 0 16px;
      &:nth-child(2) {
        border-left: none;
      }
    }
  }

  &__mock-image {
    width: vw(392, 768);
  }
}

/* ******* トップページ SP画面限定 ******* */
.page-link-sp {
  width: auto;
  margin: 0 auto;
  font-size: fluid-size(14, 14);
  &--news {
    width: 231px;
  }

  &__link {
    color: $font-black;
    font-weight: 600;
    position: relative;
    padding-right: 24px;
    font-weight: 300;
    &::before {
      @include stickArrow;
    }
    &::after {
      @include hoverBorder;
      bottom: -4px;
    }
  }
  
  
}
/* ******* トップページ SP画面限定 ******* */

/* --------------------------------------------------
 Top-About トップページ About Yukuro CreateFolioについて 指定 
-------------------------------------------------- */
.top-about {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 48px;

  @include mq(sp) {
    margin-bottom: 32px;
    flex-wrap: wrap;
  }

  &__desc {
    width: 60%;
    font-size: fluid-size(14, 16);
    margin-right: 64px;

    @include mq(sp) {
      width: 100%;
      margin: 0 0 32px 0;
    }
  }

  &__text {
    line-height: 1.5;
    margin-bottom: 32px;
    &:last-child {
      margin-bottom: 0;
    }

    @include mq(sp) {
      margin-bottom: 24px;
    }
  }

  &__profile-img {
    width: 651px;
  }
}

/* --------------------------------------------------
 Top-Blog Blog ブログ 指定 
-------------------------------------------------- */
.top-blog {
  margin-bottom: 80px;
}

/* --------------------------------------------------
 Top-News News お知らせ 指定 
-------------------------------------------------- */
.news-list {
  @include centerWidth;
  @include mq(sp) {
    margin-bottom: 24px;
  }

  &__item {
    display: flex;
    align-items: center;
    padding: 24px 0;
    border-bottom: 1px solid $border-base;
    &:first-child {
      padding-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }

    @include mq(sp) {
      flex-wrap: wrap;
    }

    & > p {
      margin-bottom: 0;
    }
  }

  &__date {
    font-size: fluid-size(14, 16);
    font-weight: 300;
    padding-right: 32px;
    border-right: 1px solid $border-base;
    &--lg {
      font-size: fluid-size(20, 32);
      border: none;
      padding-right: 0;
    }
  }

  &__tag {
    width: 96px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border: 1px solid $border-black;
    margin-left: 32px;
    border-radius: 4px;
    font-size: fluid-size(14, 14);
  }

  &__text-link {
    width: 644px;
    margin-left: 32px;
    font-size: fluid-size(14, 16);
    color: $font-black;
    position: relative;
    padding-right: 32px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    @include mq(sp) {
      padding-top: 24px;
      margin-left: 0;
      width: 100%;
    }
    &:hover {
      @include hoverText;
    }
  }
}

.news-desc {
  @include centerWidth;
  @include mq(sp) {
    margin-bottom: 24px;
  }
}