/*===================================================
 works.scss
 worksページの指定
================================================== */
/* //////////// 変数読み込み //////////// */
@use "../mixin/mixin" as *;
@use "../config/variables" as *;
@use "../config/function" as *;
@use "../config/mq" as *;
/* //////////// 変数読み込み //////////// */
.works-greeting {
  &__box {
    @include centerWidth;
  }
}
/* --------------------------------------------------
  works-category カテゴリーリストの指定 works_top.html
-------------------------------------------------- */
.works-category {
  display: flex;
  flex-wrap: wrap;
  gap: 64px 64px;
  @include mq(sp) {
    gap: 32px 0;
  }

  &__item {
    width: calc(100% / 2 - 32px / 2 * 2);
    position: relative;

    @include mq(sp) {
      width: 100%;
    }
  }

  &__thumb {
    overflow: hidden;
  }

  &__image {
    width: 100%;
    transition: 0.5s;
    &:hover {
      transform: scale(1.1);
    }
  }

  &__label-inner {
    color: $font-white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__label {
    text-align: center;
    font-weight: 400;
    &--lg {
      display: block;
      font-size: fluid-size(20, 24);
      margin-bottom: 8px;
    }
    &--sm {
      display: block;
      font-size: fluid-size(14, 18);
    }
  }
}

/* --------------------------------------------------
  works-tab タブナビゲーションの指定
-------------------------------------------------- */
.works-tab {
  @include maxWidth;
  padding-top: 48px;
  background-color: $background-gray;
}

/* --------------------------------------------------
  contents-works worksページのベース指定
-------------------------------------------------- */
.contents-works {
  width: 100%;
  margin: 0 auto 120px auto;

  &__button-area {
    display: flex;
    margin-bottom: 48px;
    @include mq(sp) {
      flex-wrap: wrap;
    }
  }

  &__button-item {
    margin-right: 80px;
    &:last-child {
      margin-right: 0;
    }

    @include mq(sp) {
      width: 100%;
      margin: 0 0 24px 0;
      z-index: 0;
    }
  }

  &__button-label {
    font-weight: 600;
    font-size: 1.6em;
    margin-bottom: 16px;
    @include mq(sp) {
      width: 100%;
      margin-bottom: 8px;
    }
  }
}

/* --------------------------------------------------
  works-list 作品一覧 指定
-------------------------------------------------- */
.works-list {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  gap: 64px 64px;
  @include mq(tab) {
    flex-wrap: wrap;
    gap: 48px 48px;
  }
}

/* --------------------------------------------------
  works-item 作品紹介カード 指定
-------------------------------------------------- */
.works-card {
  width: calc(100% / 2 - 32px / 2 * 2);
  display: flex;
  flex-direction: column;

  @include mq(tab) {
    width: calc(100% / 2 - 32px / 2 * 2);
  }

  @include mq(sp) {
    width: 100%;
  }

  &--mb {
    @include mq(sp) {
      margin-bottom: 32px;
    }
  }

  &__image {
    width: 100%;
    margin-bottom: 24px;
  }

  &__title {
    font-size: fluid-size(16, 18);
    text-align: left;
    flex: 1;
    height: 100%;
    min-height: 0%;
    margin-bottom: 16px;
    @include mq(sp) {
      margin-bottom: 16px;
    }
  }

  &__excerpt {
    flex: 1;
    height: 100%;
    margin-bottom: 24px;

    & > p {
      font-size: 1.4rem;
    }
  }

  &__management-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 1.4rem;
    margin-bottom: 24px;
    @include mq(sp) {
      margin-bottom: 16px;
    }
  }

  &__management-item {
    display: block;
    position: relative;
    padding-right: 16px;
    &:nth-child(n + 2) {
      padding-left: 8px;
    }
    &::after {
      content: "|";
      color: $border-base;
      position: absolute;
      top: 0;
      right: 0;
    }
    &:last-child::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
    }
    &::after {
      content: "|";
      color: $border-base;
      position: absolute;
      top: 0;
      right: 0;
    }

    &--single {
      font-size: 14px;
    }
  }

  &__genre {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    font-size: 1.4rem;
    @include mq(sp) {
      margin-bottom: 16px;
    }
  }

  &__category {
    font-size: 1.4rem;
    padding: 8px 16px;
    border: 1px solid $border-base;
    margin-right: 24px;
    @include mq(tab) {
      padding: 8px 6px;
    }
  }

  &__industry {
    font-size: 1.4rem;
    position: relative;
    padding-left: 24px;
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      width: 16px;
      height: 1px;
      background-color: $border-black;
    }
  }

  &__detail-link {
    text-align: center;
    flex: 1;
    height: 100%;
    min-height: 0%;
  }

  &__link {
    display: inline-block;
    border-bottom: 1px solid $border-base;
    font-size: 1.6rem;
    color: $font-black;
    position: relative;
    padding: 0 24px 4px 0;
    &::before {
      @include stickArrow;
    }
    &::after {
      @include hoverBorder;
      bottom: -4px;
    }
    &:hover::after {
      transform: scale(1, 1);
    }
  }
}
/* --------------------------------------------------
  single-works 作品ページ
-------------------------------------------------- */
.works-eyecatch {
  margin-bottom: 24px;
  & > img {
    width: 100%;
  }
}

.works-label {
  padding-bottom: 16px;
  &__title {
    font-size: fluid-size(18, 24);
    text-align: center;
    margin-bottom: 16px;
  }

  &__parent-category {
    & > a {
      display: inline-block;
      font-size: fluid-size(12, 14);
      position: relative;
      padding-left: 24px;
      color: $font-black;

      &::after {
        position: absolute;
        top: 0;
        left: 0;
        content: url("../../images/blog_ico/ico_folder.svg");
        vertical-align: bottom;
      }

      &::before {
        @include hoverBorder;
        bottom: -4px;
      }

      &:hover::before {
        transform: scale(1, 1);
      }

      @include mq(sp) {
        margin: 0 0 8px 0;
      }
    }
  }

  &__category {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__category-desc {
    display: flex;
    align-items: center;
  }
}

.works-desc {
  &__label {
    font-size: 14px;
    font-weight: 600;
  }

  &__text-bt {
    margin-bottom: 16px;
  }
}

.works-contents {
  h2 {
    font-size: fluid-size(18, 24);
    padding: 12px;
    background-color: $background-white;
    margin-bottom: 16px;
    box-shadow: $shadow;
  }

  h3 {
    padding: 0 0 6px 12px;
    border-bottom: 2px solid $border-base;
    margin-bottom: 8px;
    font-size: fluid-size(16, 20);
  }
}

// ブロックエディタ内CSS
.related-article {
  padding-top: 64px;

  .wp-block-columns.wp-container-12 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 16px;
    @include mq(sp) {
      width: 100%;
      flex-direction: column;
    }
  }


  .wp-block-group__inner-container {
    padding: 0;
  }

  &__heading {
    font-size: fluid-size(16, 18);
    margin-bottom: 24px;
    font-weight: 600;
    display: flex;
    align-items: center;
    border-bottom: none;

    &::after {
      content: "";
      height: 1px;
      flex-grow: 1;
      background-color: $border-base;
      margin-left: 16px;
    }
    &::before {
      content: "";
      height: 1px;
      flex-grow: 1;
      background-color: $border-base;
      margin-right: 16px;
    }
  }

  &__item {
    width: calc(100% / 2 - 10px / 2 * 2);
    flex-direction: column;
    @include mq(tab) {
      width: 100%;
    }
  }

  &__thumb {
    position: relative;
    overflow: hidden;

    & > .wp-element-caption {
      box-sizing: border-box;
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 0;
      width: 100%;
      text-align: center;
      background-color: $background-opacity;
      color: $font-white;
      font-weight: 600;
      height: 56px;
      padding: 12px;
      font-size: 14px;
      text-align: left;
    }
  }

  img {
    width: 100%;
    transition: 0.7s;
    &:hover {
      transform: scale(1.2);
    }
  }
}

/* --------------------------------------------------
  works-desc 作品一覧ページの説明 ※造形・衣装制作ページで使用
-------------------------------------------------- */
.works-desc {
  @include centerWidth;
  &__text {
    font-size: fluid-size(14, 16);
    margin-bottom: 1rem;
  }

  &__text-link {
    font-weight: 600;
    display: inline-block;
    padding: 0 4px;
    text-decoration: underline;
    color: $font-black;
  }
}
