/*===================================================
 c-nav.scss
 各種ナビゲーションの指定
================================================== */
/* ⬇︎ //////////// 変数読み込み //////////// */
@use "../mixin/mixin" as *;
@use "../mixin/animation" as *;
@use "../config/variables" as *;
@use "../config/function" as *;
@use "../config/mq" as *;
/* ⬆︎ //////////// 変数読み込み //////////// */

/* --------------------------------------------------
 header-top__nav ページ上部ナビ
-------------------------------------------------- */
.header-top {
  &__nav {
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    width: 200px;
    height: 55px;
  }

  &__list {
    display: flex;
  }

  &__item {
    margin-right: 56px;
    font-size: fluid-size(14, 14);
    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    color: $font-white;
    position: relative;

    &::before {
      @include hoverBorder;
      bottom: -4px;
    }

    &:hover::before {
      transform: scale(1, 1);
    }
  }
}

/* --------------------------------------------------
 header-fixed__nav 固定ナビ
-------------------------------------------------- */
.header-fixed {
  position: fixed;
  z-index: 1000;
  &__nav {
    position: absolute;
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
  }

  &__list {
    display: flex;
    justify-content: center;
    position: relative;

    @include mq(tab) {
      padding: 0 88px;
      justify-content: center;
    }
  }

  &__toggle-item,
  &__item {
    margin-right: 5%;
    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    display: block;
    font-size: fluid-size(14, 14);
    transition: all 0.3s;
    color: $font-white;
    position: relative;

    &--arrow {
      @include rightArrow;
    }

    &::before {
      @include hoverBorder;
      bottom: -4px;
    }

    &:hover::before {
      transform: scale(1, 1);
    }
  }

  // JSで動作
  &.is-show {
    top: 0;
  }

  /* ===== サブメニューの設定 ===== */
  &__sublist {
    position: absolute;
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
    top: 37px;
    line-height: 40px;
    z-index: 4;
    background-color: $background-black;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__sublink {
    position: relative;
    color: $font-white;
    font-size: fluid-size(14, 14);
    margin-right: 56px;
    &::after {
      @include hoverBorder;
    }

    &:hover::after {
      transform: scale(1, 1);
    }
  }

  &__toggle-item:hover > &__sublist,
  &__toggle-item:hover > &__subitem:hover > &__sublist,
  &__toggle-item:active > &__sublist,
  &__toggle-item:active &__item:active > &__sublist {
    visibility: visible;
    opacity: 1;
  }
}

/* --------------------------------------------------
 Tab__nav タブナビゲーション
-------------------------------------------------- */
.tab {
  &__list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 48px;

    @include mq(sp) {
      flex-wrap: wrap;
      gap: 16px 0;
      margin-bottom: 24px;
    }
  }

  &__item {
    width: calc(100% / 4);
    text-align: center;
    border-bottom: 1px solid $border-base;

    &--about {
      width: calc(100% / 3);
    }

    @include mq(sp) {
      width: 50%;
    }
  }
  
  &__icon {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    @include mq(sp) {
      display: block;
      margin: 0 auto 8px auto;
    }
  }

  &__link {
    display: block;
    font-size: fluid-size(13, 16);
    padding-bottom: 4px;
    color: $font-black;
    position: relative;
    &::before {
      @include hoverBorder;
      border-color: $border-black;
      bottom: -2px;
    }
    &:hover::before {
      transform: scale(1, 1);
    }
  }

  // アクティブ状態の指定
  &__item.active &__link {
    font-weight: 600;
    padding-top: 2px;
    border-bottom: 2px solid $border-black;
    pointer-events: none;
  }


  /* //////////// タブ内エリア //////////// */
  &__area {
    display: none;/*はじめは非表示*/
    opacity: 0;/*透過0*/ 
  }

  &__area.is-active {
    display: block;/*表示*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 32px 64px;
    @include animation(
        $name: tabAnime,
        $duration: 2s,
        $fill-mode: forwards
    );

    @include mq(sp) {
      gap: 16px 16px;
    }
  }
  @keyframes tabAnime{
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

/* --------------------------------------------------
 Accordion-nav アコーディンオンナビゲーション
-------------------------------------------------- */
.accordion {
  width: 100%;
  margin: 0 auto;
  &__title {
    position: relative;
    font-size: fluid-size(16, 16);
    color: $font-white;
    padding: 24px 0 4px 8px;
    border-bottom: 1px solid $border-base;

    &::before {
      content: "";
      position: absolute;
      top: 70%;
      right: 8px;
      width: 12px;
      height: 2px;
      transform: rotate(90deg);
      background-color: $border-base;
      transition: all 0.3s ease-in-out;
    }

    &::after {
      content: "";
      position: absolute;
      top: 70%;
      right: 8px;
      width: 12px;
      height: 2px;
      background-color: $border-base;
      transition: all 0.2s ease-in-out;
    }

    &.open {
      &::before {
        transform: rotate(180deg);
      }
      &::after {
        opacity: 0;
      }     
    }
  }

  &__menu-list {
    display: none;
    border-bottom: 1px solid $border-base;
  }

  &__menu-item {
    padding: 16px 8px;
    border-bottom: 1px solid $border-base;
    &:last-child {
      border: none;
    }
  }

  &__menu-link {
    color: $font-white;
    font-size: fluid-size(14, 14);
    position: relative;
    padding-left: 16px;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      width: 8px;
      height: 1px;
      background-color: $border-base;
    }
  }
}


/* ================================== 以下 スマホ画面指定 ================================== */

/* --------------------------------------------------
 header-mobile__nav スマホ用ナビゲーション
-------------------------------------------------- */
.header-mobile {
  &__nav {
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* --------------------------------------------------
 bottom_nav スマホ用ボトムナビゲーション
-------------------------------------------------- */
.bottom-nav {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 45px;
  margin: 0;
  padding: 5px 0;
  background-color: $background-nav;
  z-index: 999;

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    width: 20%;
    text-align: center;
  }

  &__link {
    display: block;
    color: $font-white;
    padding-top: 4px;
  }

  &__icon {
    margin-bottom: 4px;
  }

  &__text {
    font-size: fluid-size(12, 12);
  }
}

/* --------------------------------------------------
 scroll-nav スマホ用スクロールナビ
-------------------------------------------------- */
.scroll-nav {
  position: relative;

  &__nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: $background-nav;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  &__list {
    width: 100%;
    min-width: 770px;
    overflow: hidden;
    height: 24px;
    line-height: 24px;
    margin: 0 auto;
    padding-right: 25px;
    &:last-child {
      padding-right: 12px;
    }

    &--about {
      min-width: 350px;
    }
  }

  // メニュー個別幅
  &__item {
    float: left;
    width: 16.5%;
    height: 15px;
    line-height: 15px;
    text-align: center;
    display: table-cell;
    border-right: 0.5px solid $border-base;
    box-sizing: border-box;

    &--about {
      width: 30%;
    }

    &:last-child {
      border: none;
      padding-right: 0;
    }
  }

  &__link {
    display: inline-block;
    color: $font-white;
    font-size: fluid-size(12, 12);
    letter-spacing: 0.1em;
  }

  // ネクストボタン
  &__next-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    text-align: center;
    height: 24px;
    line-height: 24px;
    background-color: $background-nav;
    color: $font-white;
    font-size: fluid-size(14, 14);
  }
}


