/*===================================================
 base.scss
 ページ内ベース設定
================================================== */
/* //////////// 変数読み込み //////////// */
@use "../mixin/mixin" as *;
@use "../config/variables" as *;
@use "../config/function" as *;
@use "../config/mq" as *;
/* //////////// 変数読み込み //////////// */

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  box-sizing: border-box;
  font-family: $font-family-sans-serif;
  letter-spacing: 0.1em;
  color: $font-black;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  object-fit: contain;
}

a {
  display: block;
  text-decoration: none;
  font-weight: 300;
}

li {
  list-style: none;
}

h1 {
  margin: 0;
  padding: 0;
}

p {
  font-size: fluid-size(14,16);
  margin-bottom: 8px;
  line-height: 1.5;
  letter-spacing: 0.1em;
  font-weight: 300;
  &:last-child {
    margin-bottom: 0;
  }

  @include mq(tab) {
    line-height: 1.7;
  }
}

/* --------------------------------------------------
 ページ内 z-index指定
-------------------------------------------------- */
.container {
  position: relative;

  @include mq(tab) {
    padding-top: 80px;
  }

  &--top {
    @include mq(tab) {
      padding-top: 56px;
    }
  }
}

/* --------------------------------------------------
 ページ内 各コンテンツベース余白指定
-------------------------------------------------- */
.contents {
  z-index: 1;
  &__article {
    padding: 64px 64px;


    @include mq(tab) {
      padding: 64px 18px;
    }
    &--bg {
      background-color: $background-gray;
    }

    &--about {
      padding-top: 48px;
    }

    &--works {
      padding-top: 48px;
      background-color: $background-gray;
    }
  }

  &__article-inner {
    @include maxWidth;
    &--blog {
      max-width: 768px;
      margin: 0 auto 64px auto;
    }

    @include mq(tab) {
      padding: 0 0;
    }

    & > p {
      font-size: fluid-size(14, 16);
    }
  }

  &__desc {
    @include centerWidth;
    font-size: fluid-size(14, 16);
    margin: 0 auto 64px auto;
    @include mq(sp) {
      margin: 0 auto 32px auto;
    }
  }

  &__wrapper {
    margin-bottom: 80px;

    &:last-child {
      margin-bottom: 0;
    }

    @include mq(sp) {
      margin-bottom: 64px;
    }

    &--about-genre {
      margin-bottom: 48px;
      @include mq(sp) {
        margin-bottom: 32px;
      }
    }
  }
}

/* --------------------------------------------------
 WordPress flex並び替え
-------------------------------------------------- */
.is-layout-flex {
  justify-content: center;
}

.wp-block-group__inner-container {
  @include maxWidth;
}

/* --------------------------------------------------
 WordPress 区切り線
-------------------------------------------------- */
.wp-block-separator {
  opacity: 0;
  margin-bottom: 32px;
}

