/*===================================================
 base.scss
 ページ内ベース設定
================================================== */
/* //////////// 変数読み込み //////////// */
@use "../mixin/mixin" as *;
@use "../config/variables" as *;
@use "../config/function" as *;
@use "../config/mq" as *;
/* //////////// 変数読み込み //////////// */

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  box-sizing: border-box;
  font-family: $font-family-sans-serif;
  letter-spacing: 0.1em;
  color: $font-black;
  @include mq(pc) {
    min-width: 1280px;
  }
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  object-fit: contain;
}

a {
  display: block;
  text-decoration: none;
  font-weight: 300;
}

li {
  list-style: none;
}

h1 {
  margin: 0;
  padding: 0;
}

p {
  font-size: fluid-size(14, 16);
  margin-bottom: 8px;
  line-height: 1.5;
  letter-spacing: 0.1em;
  font-weight: 300;
  letter-spacing: 4;
  &:last-child {
    margin-bottom: 0;
  }

  @include mq(tab) {
    line-height: 1.7;
  }
}

/* --------------------------------------------------
 ページ内 z-index指定
-------------------------------------------------- */
.container {
  position: relative;

  @include mq(tab) {
    padding-top: 56px;
  }

  &--top {
    @include mq(tab) {
      padding-top: 56px;
    }
  }
}

/* --------------------------------------------------
 ページ内 各コンテンツベース余白指定
-------------------------------------------------- */
.contents {
  z-index: 1;
  background-color: $background-gray;
  &__article {
    padding: 72px 0;
    
    &--white-bg {
      background-color: $background-white;
    }

    &--about {
      padding-top: 48px;
      @include mq(tab) {
        padding: 32px 18px;
      }
    }

    &--works {
      padding-top: 48px;
      background-color: $background-gray;
      @include mq(tab) {
        padding: 32px 18px;
      }
    }

    &--single {
      max-width: $single-width;
      margin: 0 auto;
    }

    @include mq(tab) {
      padding: 48px 18px;
      &:last-child {
        padding-bottom: 48px;
      }
    }
  }

  &__article-inner {
    @include maxWidth;
    @include mq(tab) {
      padding: 0 0;
    }

    & > p {
      font-size: fluid-size(14, 16);
    }
  }

  &__desc {
    @include centerWidth;
    font-size: fluid-size(14, 16);
    margin: 0 auto 40px auto;
    @include mq(sp) {
      margin: 0 auto 32px auto;
    }

    &--search-form {
      margin-top: 64px;
    }
  }

  &__wrapper {
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 72px;

    &:last-child {
      margin-bottom: 0;
    }

    @include mq(tab) {
      margin-bottom: 64px;
    }

    &--about-genre {
      margin-bottom: 48px;
      @include mq(sp) {
        margin-bottom: 32px;
      }
    }
  }

  & .primary-button {
    margin-top: 40px;
  }
}

/* --------------------------------------------------
 WordPress font-weight / linkのhover指定
-------------------------------------------------- */
.font-bold {
  font-weight: 600;
}

.border-link > a {
  display: inline-block;
  font-size: 14px;
  color: $font-black;
  position: relative;
  padding-right: 32px;
  border-bottom: 1px solid $border-black;
  transition: 0.3s;
 
  &::before {
    @include stickArrow;
  }
  &::after {
    @include hoverBorder;
    bottom: -4px;
  }

  &:hover {
    color: $button-hover;
  }

  &:hover::before {
    border-bottom: 2px solid $button-hover;
  border-right: 2px solid $button-hover;
  }

  &:hover::after {
    transform: scale(1, 1);
  }
}

/* --------------------------------------------------
 WordPress flex並び替え
-------------------------------------------------- */
.is-layout-flex {
  justify-content: center;
  &--works-flex {
    margin: 40px 0;
    flex-wrap: nowrap !important;

    @include mq(tab) {
      margin: 24px 0;
    }
  }
}

.wp-element-caption {
  text-align: right;
  padding: 8px 8px;
  font-size: 12px;


  @include mq(sp) {
    text-align: right;
    padding: 4px 0;
    font-size: 11px;
  }
}

.wp-block-group__inner-container {
  max-width: 1280px !important;
  margin: 0 auto !important;
}

/* --------------------------------------------------
 WordPress 区切り線
-------------------------------------------------- */
.wp-block-separator {
  opacity: 0;
  margin-bottom: 32px;

  &--large {
    margin-bottom: 64px;
    @include mq(tab) {
      margin-bottom: 40px;
    }
  }

  &--works {
    opacity: 1;
    margin-top: 16px;
    margin-bottom: 40px;
  }
}

.wp-block-image {
  &--padding-bt {
    margin-bottom: 48px;
  }
}
.hr {
  margin: 16px 0;
  height: 1px;
  background-color: $border-base;
}