/*===================================================
 footer.scss
 フッターの指定
================================================== */
/* //////////// 変数読み込み //////////// */
@use "../mixin/mixin" as *;
@use "../mixin/animation" as *;
@use "../config/variables" as *;
@use "../config/function" as *;
@use "../config/mq" as *;
/* //////////// 変数読み込み //////////// */

/* --------------------------------------------------
 PC Footer PC画面用フッターの指定
-------------------------------------------------- */
.footer-pc {
  position: relative;
  background-color: $background-footer;

  &__inner {
    @include centerWidth;
    padding: 48px 0;
  }

  /* //////////// ロゴの指定 //////////// */
  & .custom-logo-link {
    width: 200px;
    height: 56px;
    margin: 0 auto 48px auto;
  }

  /* //////////// フッターナビゲーションの指定 //////////// */
  & .menu {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;

    & .footer-menu {
      width: 100%;
      cursor: pointer;
      & > a {
        display: inline-block;
        font-size: fluid-size(14, 16);
        color: $font-white;
        margin-bottom: 16px;
        position: relative;
        &::before {
          @include hoverBorder;
          bottom: -4px;
        }

        &:hover::before {
          transform: scale(1, 1);
        }
      }
    }
  }

  & .footer-submenu {
    margin-bottom: 16px;
    position: relative;
    padding-left: 16px;

    &:last-child {
      margin-bottom: 0;
    }
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      width: 8px;
      height: 1px;
      background-color: $border-base;
    }

    & > a {
      display: inline-block;
      color: $font-white;
      font-size: 14px;
      position: relative;
      line-height: 1.5;

      &::before {
        @include hoverBorder;
        bottom: -4px;
      }

      &:hover::before {
        transform: scale(1, 1);
      }
    }
  }

  /* //////////// サブナビゲーションの指定 //////////// */
  & .footer-subnav {
    display: flex;
    justify-content: center;
    margin-bottom: 32px;

    & > li {
      border-right: 1px solid $border-base;
      padding: 0 24px;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        border: none;
        padding-right: 0;
      }

      & > a {
        font-size: 14px;
        color: $font-white;
        position: relative;
        display: inline-block;
        &::before {
          @include hoverBorder;
          bottom: -4px;
        }

        &:hover::before {
          transform: scale(1, 1);
        }
      }
    }
  }

  /* //////////// コピーライトの指定 //////////// */
  &__copyright {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    color: $font-white;
    font-weight: 300;
  }

  &__copyright-text {
    display: block;
    padding: 0 4px;
    color: $font-white;
  }
}

/* --------------------------------------------------
 SP Footer SP画面用フッターの指定
-------------------------------------------------- */
.footer-sp {
  background-color: $background-footer;

  &__inner {
    padding: 24px 18px 64px 18px;
  }

  & .custom-logo-link {
    width: 136px;
    height: 37px;
    margin: 0 auto 24px auto;
  }

  /* //////////// snsナビゲーションの指定 //////////// */
  &__sns-box {
    display: flex;
    justify-content: center;
    gap: 0 24px;
    margin-bottom: 32px;
  }

  &__sns-icon {
    width: 32px;
    height: 32px;
    transition: 0.3s;
    &:hover {
      transform: scale(1);
    }
  }

  /* //////////// サブナビゲーションの指定 //////////// */
  & .footer-subnav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 24px;
    gap: 16px 0;


    & > li {
      padding-right: 24px;
      &:last-child {
        padding-right: 0;
      }

      & > a {
        font-size: 14px;
        color: $font-white;
      }
    }
  }

  /* //////////// コピーライトの指定 //////////// */
  &__copyright {
    display: block;
    text-align: center;
    color: $font-white;
    font-size: 14px;
  }
}
