/*===================================================
 header.scss
 各種ヘッダー横幅・縦幅等の指定
================================================== */
/* ⬇︎ //////////// 変数読み込み //////////// */
@use "../mixin/mixin" as *;
@use "../config/variables" as *;
@use "../config/function" as *;
@use "../config/mq" as *;
/* ⬆︎ //////////// 変数読み込み //////////// */
/* --------------------------------------------------
 header-fixed__nav 固定ナビ
-------------------------------------------------- */
.header-fixed {
  width: 100%;
  margin: 0 auto;
  transition: 0.5s;
  background-color: $background-nav;
  box-shadow: $shadow;
  padding: 12px 0;
  z-index: 50;
  position: fixed;
  top: -63px;

  & .custom-logo-link {
    width: 152px;
    height: 48px;
    z-index: 100;
  }

  &__inner {
    @include maxWidth;
    padding: 0 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // JSで動作
  &.is-show {
    top: 0;
  }
}

/* --------------------------------------------------
 header-mobile__nav スマホ用ヘッダー
-------------------------------------------------- */
.header-mobile {
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  width: 100%;
  height: 56px;
  background-color: $background-nav;

  & .custom-logo-link {
    width: 136px;
    height: 36px;
    margin: 0;
  }
}

/* --------------------------------------------------
 header-single singleページ用固定ナビ
-------------------------------------------------- */
.header-single {
  width: 100%;
  height: auto;
  transition: 0.5s;
  left: 0;
  background-color: $background-nav;
  padding: 6px 0;
  z-index: 1;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);


  &.fixed {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
  }
  &__inner {
    @include maxWidth;
    padding: 0 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  & .custom-logo-link {
    width: 152px;
    height: 48px;
    z-index: 100;
  }
}
