/*===================================================
 visual.scss
 各ページビジュアルの定義
================================================== */
/* //////////// 変数読み込み //////////// */
@use "../mixin/mixin" as *;
@use "../config/variables" as *;
@use "../config/function" as *;
@use "../config/mq" as *;
/* //////////// 変数読み込み //////////// */

.main_visual {
  position: relative;
  z-index: 100;
  
  &__eye-catching > img {
    width: 100%;
    height: 100%;
  }

  &__text-line {
    padding-right: 64px;
    position: absolute;
    top: 40%;
    right: 64px;
    text-align: right;
    font-family: $font-heading;
    font-size: fluid-size(20, 56);
    color: $font-white;

    @include mq(tab) {
      padding-right: 8px;
      right: 0;
    }
  }

  &__top-catch {
    display: block;
    padding-right: 120px;
    margin-bottom: 32px;
    @include mq(tab) {
      padding-right: 64px;
      margin-bottom: 8px;
    }
  }
  &__bottom-catch {
    display: block;
    padding-left: 64px;
  }

  &__img {
    width: 100%;
    position: relative;
  }

  &__inner {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }

  & .custom-logo-link {
    width: 200px;
    height: 55px;
  }

  &__menu {
    padding: 0 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & nav {
      margin-left: auto;
      & ul {
        display: flex;
        justify-content: flex-end;

        & li {
          margin-right: 56px;
          font-size: fluid-size(14, 14);
          &:last-child {
            margin-right: 0;
          }

          & a {
            color: $font-white;
            position: relative;

            &::before {
              @include hoverBorder;
              bottom: -4px;
            }

            &:hover::before {
              transform: scale(1, 1);
            }
          }
        }
      }
    }
  }

  & .page-heading {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0%, -50%);
    padding-left: 80px;
    color: $font-white;
    line-height: 48px;
    font-family: $font-heading;
    @include mq(sp) {
      line-height: 32px;
    }

    &__main-heading {
      font-size: fluid-size(20, 48);
      font-weight: 300;
    }

    &__sub-heading {
      font-weight: 300;
      font-size: fluid-size(18, 24);
      position: relative;
      padding-left: 40px;
      color: $font-white;
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: fluid-size(16, 32);
        height: 1px;
        background-color: $border-base;
      }
      @include mq(sp) {
        padding-left: 24px;
      }
    }
    @include mq(sp) {
      padding-left: 16px;
    }
  }
}
