/*===================================================
 c-accordion.scss
 アコーディオンメニューの指定
================================================== */
/* ⬇︎ //////////// 変数読み込み //////////// */
@use "../mixin/mixin" as *;
@use "../mixin/animation" as *;
@use "../config/variables" as *;
@use "../config/function" as *;
@use "../config/mq" as *;
/* ⬆︎ //////////// 変数読み込み //////////// */

/* --------------------------------------------------
 Accordion アコーディンオンナビゲーション ※ フッター #about-genre
-------------------------------------------------- */
.accordion-footer {
  width: 100%;
  margin-bottom: 32px;
  transition: all .5s;

  &.open {
    transform: translateZ(0);
  }

  & .menu-item {
    border-bottom: 1px solid $border-base;
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
      border-bottom: none;
    }

    & > a {
      position: relative;
      padding: 8px 0;
      color: $font-white;
      display: block;
      font-size: 14px;

      &:first-of-type {
        color: $font-white;
        position: relative;
        padding-right: 2em
      }

      &::after, &::before {
        display: block;
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        right: 20px;
        margin: auto;
        width: 10px;
        height: 1px;
        background-color: $font-white;
        transition: 0.2s;
      }

      &::after {
        transform: rotate(90deg);
      }
      
      &.open::before {
        transform: rotate(0deg);
      }

      &.open::after {
        background: transparent;
      }

      &.open:first-of-type {
        color: $font-white;
      }
    }
  }

  & .sub-menu  {
    display: none;
    padding: 20px;
    & .menu-subitem {
      padding: 0;
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    & > li {
      & > a {
        color: $font-white;
        font-size: 14px;
        padding-left: 16px;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          top: 50%;
          left: 0;
          width: 8px;
          height: 1px;
          background-color: $font-white;
        }
      }
    }
  }
}

/* --------------------------------------------------
 Accordion アコーディンオンナビゲーション ※ ブログ
-------------------------------------------------- */
.accordion-blog {
  width: 100%;
  margin-bottom: 32px;
  &:last-child {
    margin-bottom: 0;
  }
  transition: all .5s;

  &.open {
    transform: translateZ(0);
  }

  & .menu-item {
    border-bottom: 1px solid $border-base;
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
      border-bottom: none;
    }

    & > a {
      position: relative;
      padding: 8px 0;
      color: $font-black;
      display: block;
      font-size: 14px;

      &:hover {
        @include hoverText;
      }
      
      &:first-of-type {
        color: $font-black;
        position: relative;
        padding-bottom: 16px;
      }

      &::after, &::before {
        display: block;
        content: "";
        position: absolute;
        top: 40%;
        right: 0;
        right: 20px;
        margin: auto;
        width: 10px;
        height: 1px;
        background-color: $font-black;
        transition: 0.2s;
      }

      &::after {
        transform: rotate(90deg);
      }
      
      &.open::before {
        transform: rotate(0deg);
      }

      &.open::after {
        background: transparent;
      }

      &.open:first-of-type {
        color: $font-black;
      }
    }
  }

  & .sub-menu  {
    display: none;
    & .menu-subitem {
      padding: 0;
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    & > li {
      & > a {
        color: $font-black;
        font-size: 14px;
        padding-left: 8px;
        position: relative;
        padding-bottom: 16px;
        border-bottom: 1px solid $border-base;

        &::after {
          content: "";
          position: absolute;
          top: 50%;
          left: 0;
          width: 8px;
          height: 1px;
          background-color: $font-white;
        }

        &:hover {
          @include hoverText;
        }
      }
    }
  }
}