/*===================================================
 c-blog-contents.scss
 ブログパーツ
================================================== */
/* ⬇︎ //////////// 変数読み込み //////////// */
@use "../mixin/mixin" as *;
@use "../mixin/animation" as *;
@use "../config/variables" as *;
@use "../config/function" as *;
@use "../config/mq" as *;
/* ⬆︎ //////////// 変数読み込み //////////// */

.blog-contents {
  max-width: $single-width;

  @include mq(sp) {
    width: 100%;
  }

  & .wp-block-preformatted {
    width: 100%;
  }

  /* --------------------------------------------------
 各種見出し
-------------------------------------------------- */
  h2 {
    font-size: fluid-size(18, 22);
    padding: 16px 12px;
    background-color: $background-white;
    margin: 48px 0 24px 0;
    box-shadow: $shadow;
    border-left: 8px solid $border-black;
  }

  h3 {
    padding: 12px 0 12px 8px;
    border-bottom: 2px solid $border-base;
    border-top: 2px solid $border-base;
    margin: 40px 0 16px 0;
    font-size: fluid-size(18, 20);
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: -1.5px;
      left: 0;
      width: 120px;
      height: 2px;
      background-color: $border-black;
    }

    &::before {
      content: "";
      position: absolute;
      top: -1.5px;
      left: 0;
      width: 120px;
      height: 2px;
      background-color: $border-black;
    }
  }

  h4 {
    font-size: fluid-size(17, 18);
    border-left: 4px solid $border-black;
    padding: 6px 8px 6px 8px;
    margin: 32px 0 16px 0;
  }

  h5 {
    font-size: fluid-size(16, 16);
    margin: 24px 0 8px 0;
  }

  /* --------------------------------------------------
 引用 / テキスト関連
-------------------------------------------------- */
  & .wp-block-quote {
    border-left: 1.5px solid $border-base;
    padding: 8px 16px;
    margin-bottom: 24px;

    &:last-of-type {
      margin-bottom: 0;
    }

    & p {
      font-size: fluid-size(14, 14);
      margin-bottom: 8px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    & cite {
      text-align: right;
    }
  }

  & strong {
    font-weight: 600;
  }

  & p {
    font-size: fluid-size(14, 16);
    line-height: 1.5;
    margin-bottom: 8px;
  }

  & .wp-block-spacer {
    height: 48px !important;
    margin: 0;
  }

  & a {
    display: inline-block;
    color: $font-link;
    border-bottom: 1px solid $font-link;
    transition: 0.3s;
    font-weight: 600;
    padding: 0 4px;

    &:hover {
      opacity: 0.6;
    }
  }


  & .external-link {
    display: inline-block;
    position: relative;

    & a {
      display: inline-block;
      padding: 0 32px 2px 4px;

      &::after {
        content: url("../../images/ico/ico_external-link.svg");
        position: absolute;
        top: 10%;
        right: 8px;
      }
    }
  }

  & .liquid-speech-balloon-wrap {
    margin-bottom: 2em;

    & p {
      &:last-child {
        margin-bottom: 0;
      }
    }

    @include mq(sp) {
      margin-bottom: 24px;
    }
  }

  /* --------------------------------------------------
 テーブル
-------------------------------------------------- */
  & .table-wrapper {
    margin-bottom: 32px;

    @include mq(sp) {
      overflow-x: scroll;
    }
  }

  & table {
    width: 100%;
    font-size: fluid-size(14, 14);
    border-collapse: collapse;
    background-color: $background-white;
    -webkit-border-horizontal-spacing: 0;
    -webkit-border-vertical-spacing: 0;

    @include mq(sp) {
      width: 800px;
    }

    & th,
    td {
      border: 1px solid $border-base;
      padding: 10px;
    }

    & a {
      color: $font-link;
      padding-bottom: 2px;
      border-bottom: 1px solid $font-link;
      transition: 0.3s;

      &:hover {
        opacity: 0.6;
      }
    }
  }

  /* --------------------------------------------------
 リスト
-------------------------------------------------- */

  & .no_bullets {
    & ul {
      & li {
        list-style: none;

        & a {
          padding-bottom: 0;
          border: none;

          &::after {
            content: "";
          }
        }
      }

    }

  }

  & ul {
    background-color: $background-white;
    padding: 16px 16px 16px 32px;
    padding-inline-start: 40px;
    list-style-position: inside;
    box-shadow: $shadow;
    margin: 32px 0;

    @include mq(sp) {
      padding-inline-start: 32px;
      padding: 16px 8px 16px 32px;
    }

    & li {
      list-style-type: square;
      font-size: fluid-size(14, 16);
      margin-bottom: 12px;

      &:last-child {
        margin-bottom: 0;
      }

      & ul {
        margin: 0;
        box-shadow: none;
        padding: 8px;

        & li {
          list-style-type: disc;

          & ul {
            & li {
              list-style-type: circle;
            }
          }
        }
      }
    }
  }

  & ol {
    background-color: $background-white;
    padding: 16px 32px 16px 32px;
    padding-inline-start: 24px;
    list-style-position: inside;
    box-shadow: $shadow;
    font-size: fluid-size(14, 16);
    counter-reset: item;
    list-style-type: none;
    margin: 32px 0;

    @include mq(sp) {
      padding-inline-start: 16px;
    }

    & li {
      margin-bottom: 12px;

      &:last-child {
        margin-bottom: 0;
      }

      &::before {
        counter-increment: item;
        content: counters(item, "-") ". ";
      }

      & ol {
        padding: 8px;
        counter-reset: 0;
        box-shadow: none;
        margin: 0;
      }
    }
  }

  /* --------------------------------------------------
 画像
-------------------------------------------------- */
  & img {
    margin-bottom: 32px;
  }

  & img.alignright {
    display: block;
    margin: 0 0 0 auto;
  }

  & img.alignleft {
    display: block;
    margin: 0 auto 0 0;
  }

  & img.aligncenter {
    display: block;
    margin: 0 auto;
  }

  /* 画像中央寄せ */
  .wp-block-image {
    text-align: center;
  }

  .wp-block-image {
    margin: 32px auto;

    & img {
      margin-bottom: 0;
    }

    & .wp-element-caption {
      margin-top: 0;
      text-align: center;
      font-size: fluid-size(14, 14);
      padding: 12px 8px;
    }
  }

  /* YouTube動画中央寄せ */
  .video-container {
    margin: 32px auto;
  }

  & .wp-block-columns {
    display: flex;
    margin: 32px 0;
    gap: 32px;

    & .wp-block-image {
      margin: 0;
    }

    & .wp-element-caption {
      margin-top: 0;
      text-align: center;
      font-size: fluid-size(14, 14);
      padding: 12px 8px;
    }

    & img {
      margin: 0 auto;
    }

    @include mq(sp) {
      flex-direction: column;
    }
  }

  /* --------------------------------------------------
 ボタン
-------------------------------------------------- */
  & .wp-block-button {
    width: 320px;
    margin: 24px auto 32px auto;
    text-align: center;
    cursor: pointer;

    @include mq(sp) {
      width: 100%;
      text-align: center;
    }

    &__link {
      display: block;
      padding: 16px 24px;
      margin: 0 auto;
      color: $font-white;
      font-size: 16px;
      background: $button-background;
      position: relative;
      z-index: 1;
      transition: 0.3s;

      @include mq(sp) {
        z-index: 0;
      }

      &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        background-color: $background-gray;
        border: 1px solid $border-black;
        transform-origin: 100% 50%;
        transform: scaleX(0);
        transition: transform ease 0.5s;
      }

      &:hover {
        color: $font-black;
        border-color: $border-black;
      }

      &:hover::before {
        transform-origin: 0% 50%;
        transform: scaleX(1);
      }

      &:after {
        @include stickArrow;
        top: 45%;
        right: 16px;
        border-color: $font-white;

        @include mq(sp) {
          right: 10%;
        }
      }

      &:hover::after {
        border-color: $border-black;
      }
    }
  }

  /* --------------------------------------------------
記事の埋め込み
-------------------------------------------------- */
  & .blog-link {
    display: block;
    background-color: $background-white;
    border: 1px solid $border-base;
    max-width: 100%;
    margin: 32px 0;
    box-shadow: $shadow;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;

    &__label {
      position: relative;

      &::before {
        font-family: FontAwesome;
        position: absolute;
        padding: 6px 12px;
        content: "\f02e  関連記事";
        background-color: $background-black;
        color: $font-white;
        font-size: fluid-size(14, 14);
        z-index: 1;
        font-weight: 300;
      }
    }


    & a {
      padding: 0;
      border-bottom: none;
    }

    &:hover {
      cursor: pointer;
      opacity: 0.9;
    }

    &__inner {
      display: flex;
      padding: 0 12px 12px;
      gap: 16px;

      @include mq(sp) {
        flex-wrap: wrap;
      }
    }

    &__thumbnail {
      width: 60%;

      @include mq(sp) {
        width: 100%;
      }

      & img {
        margin-bottom: 0;

        @include mq(sp) {
          width: 100%;
        }
      }
    }

    &__content {
      display: table-cell;
      vertical-align: middle;
    }

    &__title {
      font-size: fluid-size(14, 16);
      margin-bottom: 12px;
      font-weight: bold;
      line-height: 1.4;
      color: $font-link;

      &:hover {
        text-decoration: underline;
      }
    }

    &__excerpt {
      font-size: fluid-size(12, 14);
      font-weight: 300;
      color: $font-black;
      margin: 0 10px 5px 0;
      line-height: 1.3;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 4;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}