/*===================================================
 c-blog.scss
 ブログ内要素の指定
================================================== */
/* ⬇︎ //////////// 変数読み込み //////////// */
@use "../mixin/mixin" as *;
@use "../mixin/animation" as *;
@use "../config/variables" as *;
@use "../config/function" as *;
@use "../config/mq" as *;
/* ⬆︎ //////////// 変数読み込み //////////// */

/* --------------------------------------------------
 Blog-card 共通ブログカードの指定
-------------------------------------------------- */
.blog-card {
  display: flex;
  align-items: center;
  width: calc(100% / 2 - 32px / 2 * 2);
  padding-bottom: 32px;
  border-bottom: 1px dotted $border-black;
  &:first-child {
    padding-top: 0;
  }

  // blog.html カテゴリー内ブログカードの指定
  &--category {
    width: 100%;
    margin: 32px 0;
    @include mq(tab) {
      margin: 0 0;
    }
  }

  @include mq(tab) {
    width: calc(100% / 2 - 8px / 2 * 2);
    flex-wrap: wrap;
    height: auto;
    padding-bottom: 24px;

    &--category {
      width: 100%;
      margin-bottom: 0;
      flex-direction: column;
    }
  }

  @include mq(sp) {
    flex-wrap: wrap;
    flex-direction: column;
    height: auto;
    padding-bottom: 24px;
    &--category {
      width: calc(100% / 2 - 8px / 2 * 2);
    }
  }

  &__label {
    width: 100%;
    padding-left: 24px;

    @include mq(tab) {
      padding-left: 0;
    }

    @include mq(sp) {
      display: flex;
      flex-direction: column;
      padding-left: 0;
    }
  }

  &__thumb {
    overflow: hidden;
    @include mq(tab) {
      min-width: 110px;
      height: auto;
      margin-bottom: 16px;
    }

    & > img {
      width: 100%;
      transition: 0.7s;
      &:hover {
        transform: scale(1.2);
      }
    }
  }

  &__title {
    font-size: fluid-size(14, 16);
    margin-bottom: 24px;
    line-height: 1.5;
    @include mq(tab) {
      margin-bottom: 16px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
    }

    @include mq(sp) {
      margin-bottom: 16px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
    }
  }

  &__title-link {
    color: $font-black;
    @include hoverText;
    font-size: fluid-size(13, 16);
    font-weight: 600;
    flex-grow: 1;
    min-height: 60px;
    @include mq(tab) {
      min-height: 40px;
    }
  }

  &__category-link {
    display: flex;
    flex-wrap: wrap;
    gap: 8px 16px;
    margin-bottom: 16px;
    flex-grow: 1;

    & > a {
      color: $font-black;
      font-size: 14px;
      position: relative;
      padding-left: 24px;
      &::after {
        position: absolute;
        top: 0;
        left: 0;
        content: url("../../images/blog_ico/ico_folder.svg");
        vertical-align: bottom;
      }

      &::before {
        @include hoverBorder;
        bottom: -4px;
      }

      &:hover::before {
        transform: scale(1, 1);
      }

      @include mq(sp) {
        font-size: 12px;
      }
    }
    @include mq(sp) {
      flex-grow: 1;
      flex-wrap: wrap;
    }
  }

  &__date {
    flex-grow: 1;
    font-size: fluid-size(10, 12);
    position: relative;
    display: block;
    text-align: right;
    padding-left: 20px;
    &::before {
      position: absolute;
      top: 0px;
      right: 80px;
      content: url("../../images/blog_ico/ico_clock.svg");
      @include mq(sp) {
        right: 70px;
      }
    }
  }
}

/* --------------------------------------------------
 Blog-Category ブログカテゴリーカード
-------------------------------------------------- */
.blog-category {
  display: flex;
  flex-wrap: wrap;
  gap: 0 64px;
  @include mq(tab) {
    flex-wrap: wrap;
  }

  &--top {
    margin-bottom: 48px;
  }

  &__item {
    width: calc(100% / 2 - 32px / 2 * 2);

    &:nth-child(n + 2) {
      margin-bottom: 0;
    }
    @include mq(tab) {
      width: 100%;
      margin-bottom: 48px;
    }
  }

  &__thumb-link {
    width: 100%;
    overflow: hidden;
    margin-bottom: 24px;
    position: relative;

    &::after {
      content: "Read More";
      font-size: fluid-size(14, 16);
      letter-spacing: 0.1em;
      text-align: center;
      color: $font-white;
      width: 100%;
      height: 100%;
      display: block;
      background: rgba(0, 0, 0, 0.4);
      transition: 0.8s;
      position: absolute;
      top: 0;
      left: 0;
      padding-top: 18%;
      opacity: 0;
    }

    &:hover::after {
      opacity: 1;
      transform: scale(1.1);
    }

    &:hover {
      text-decoration: underline;
    }
  }

  &__thumb {
    position: relative;
  }

  &__title {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
    font-size: fluid-size(16, 24);
    color: $font-white;
    font-family: $font-catch-copy;
  }

  &__image {
    width: 100%;
    @include hoverImage;
  }

  &__category-list {
    display: flex;
    flex-wrap: wrap;
    height: 88px;
    justify-content: space-between;
    flex-grow: 1;
    gap: 16px 0;
    @include mq(tab) {
      margin-bottom: 32px;
    }

    &--top {
      @include mq(tab) {
        margin-bottom: 0;
      }
    }
  }

  &__category-item {
    width: calc(100% / 2 - 8px / 2 * 2);
  }

  &__blog-list {
    @include mq(tab) {
      display: flex;
      gap: 0 16px;
      margin-bottom: 32px;
    }
  }
}

/* --------------------------------------------------
 Blog-Affiliate アフィリエイト広告
-------------------------------------------------- */
.blog-affiliate {
  padding: 64px 64px 0 64px;
  margin-bottom: 64px;
  display: flex;
  gap: 0 32px;

  @include mq(tab) {
    padding: 48px 18px 0 18px;
    margin-bottom: 0;
    flex-wrap: wrap;
    gap: 16px;
  }

  @include mq(sp) {
    padding: 32px 18px 0 18px;
    margin-bottom: 0;
    gap: 16px;
  }

  &__thumb {
    width: calc(100% / 3);

    @include mq(sp) {
      width: calc(100% / 2 - 8px);
    }
  }
}

/* --------------------------------------------------
 Blog-Nav ブログ内ナビゲーション
-------------------------------------------------- */
.blog-nav {
  background-color: $background-gray;

  &__inner {
    padding: 0 64px 64px 64px;
    display: flex;
    gap: 0 40px;

    @include mq(tab) {
      padding: 48px 18px;
      flex-wrap: wrap;
    }
    @include mq(sp) {
      padding: 32px 18px;
      flex-wrap: wrap;
    }
  }

  &__item {
    width: calc(100% / 3);
    @include mq(tab) {
      width: 100%;
      margin-bottom: 24px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__label {
    font-size: 1.6rem;
    font-weight: 600;
    padding-bottom: 8px;
    border-bottom: 1px solid $border-base;
    position: relative;
    margin-bottom: 16px;
    &::after {
      content: "";
      position: absolute;
      bottom: -1px;
      left: 0;
      border-bottom: 1px solid $border-black;
      width: 150px;
      height: 1px;
    }
  }

  /* ========= 関連キーワード ========= */
  &__tag-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px 8px;
    
    & a {
      font-size: 1.4rem;
      position: relative;
      padding: 8px;
      background-color: $button-background;
      color: $font-white;
      padding-left: 28px;
      transition: 0.3s;
      border: 1px solid $border-black;
  
      &::before {
        content: "";
        position: absolute;
        top: 27%;
        left: 0;
        background-image: url("../../images/blog_ico/ico_tag.svg");
        width: 14px;
        height: 14px;
        margin-left: 8px;
      }

      &:hover {
        background: $background-gray;
        border: 1px solid $border-base;
        color: $font-black;
      }

      &:hover::before {
        filter: invert(34%) sepia(0%) saturate(895%) hue-rotate(279deg) brightness(91%) contrast(88%);
      }
    }
  }
}

/* --------------------------------------------------
 ブログナビ プロフィールCSS
-------------------------------------------------- */
.blog-profile {
  &__icon-profile {
    display: flex;
    gap: 0 16px;
    margin-bottom: 16px;
  }

  &__text {
    font-size: 14px;
  }

  &__desc {
    margin-bottom: 16px;
  }

  &__link-about {
    text-align: center;

    @include mq(tab) {
      text-align: center;
    }
  }

  &__link {
    font-size: 14px;
    color: $font-black;
    display: inline-block;
    position: relative;
    padding: 0 24px 4px 0;
    border-bottom: 1px solid $border-base;
    font-weight: 600;
    &::before {
      @include stickArrow;
    }
    &::after {
      @include hoverBorder;
      bottom: -4px;
    }
    &:hover::after {
      transform: scale(1, 1);
    }
  }
}

/* --------------------------------------------------
 Table of Contentsプラグイン 目次のスタイリング
-------------------------------------------------- */
#toc_container {
  box-sizing: border-box;
  margin: 0 auto 48px auto;
  background-color: $background-white;
  display: block !important;

  .toc_title {
    font-weight: 600;
    text-align: center;
    background-color: $background-black;
    color: $font-white;
    padding: 4px 0;

    & a {
      display: inline-block;
      color: $font-white;
      border-bottom: 1px solid $border-base;
      line-height: 1.75;
    }
  }

  .toc_list {
    padding: 24px;
  }

  ul a {
    font-size: 14px;
    display: block;
    color: $font-black;
    border-bottom: 1px dotted $border-base;
    line-height: 1.75;
    @include hoverText;
  }

  .toc_list > li > a {
    border-bottom: 2px solid $border-base;
    font-size: fluid-size(14, 16);
  }

  ul ul {
    padding: 16px 0 8px 16px;
    font-size: fluid-size(14, 16);
  }

  li {
    margin-bottom: 14px;
  }
}
