/*===================================================
 button.scss
 ボタンのベース指定
================================================== */
/* //////////// 変数読み込み //////////// */
@use "../mixin/mixin" as *;
@use "../mixin/animation" as *;
@use "../config/variables" as *;
@use "../config/function" as *;
@use "../config/mq" as *;
/* //////////// 変数読み込み //////////// */

/* --------------------------------------------------
 ページ共通ボタン 優先度高 指定 
-------------------------------------------------- */
.primary-button {
  width: 280px;
  margin: 0 auto;
  box-shadow: $shadow;
  text-align: center;

  @include mq(sp) {
    width: 100%;
    text-align: center;
  }

  &__link {
    padding: 16px 42px;
    margin: 0 auto;
    color: $font-white;
    font-size: 16px;
    background: $button-background;
    position: relative;
    z-index: 1;
    transition: 0.3s;

    @include mq(sp) {
      z-index: 0;
    }

    &::before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      background-color: $background-gray;
      border: 1px solid $border-black;
      transform-origin: 100% 50%;
      transform: scaleX(0);
      transition: transform ease 0.5s;
    }

    &:hover {
      color: $font-black;
      border-color: $border-black;
    }

    &:hover::before {
      transform-origin: 0% 50%;
      transform: scaleX(1);
    }

    &:after {
      @include stickArrow;
      top: 45%;
      right: 12%;
      border-color: $font-white;

      @include mq(sp) {
        right: 10%;
      }
    }

    &:hover::after {
      border-color: $border-black;
    }
  }
}

/* --------------------------------------------------
 ページ共通ボタン 優先度低 指定 
-------------------------------------------------- */
.secondary-button {
  height: 32px;
  line-height: 32px;
  font-size: fluid-size(14, 16);
  text-align: center;
  background-color: $button-background;
  color: $font-white;
  position: relative;
  transition: all 0.3s;
  border: 1px solid $border-black;

  &:hover {
    background: $background-gray;
    border: 1px solid $border-base;
    color: $font-black;
  }
}

/* --------------------------------------------------
 お問い合わせフォーム ボタンスタイル 指定 
-------------------------------------------------- */
.form-box {
  &__button {
    width: 280px;
    height: 48px;
    margin: 0 auto;
    cursor: pointer;
    box-shadow: $shadow;
    font-size: fluid-size(14, 16);
    border: none;
    background-color: $button-background;
    color: $font-white;
    transition: all 0.3s;

    @include mq(sp) {
      width: 100%;
      text-align: center;
      z-index: 0;
    }

    &:hover {
      background: $background-gray;
      border: 1px solid $border-base;
      color: $font-black;
    }
  }

  &__button[disabled] {
    background-color: #b2b2b2;
    color: $font-white;
    cursor: not-allowed;
  }
}

/* --------------------------------------------------
 Works セレクトボタン 指定 
-------------------------------------------------- */
.select-button {
  width: 296px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  appearance: none;
  background-color: $button-background;
  color: $font-white;
  position: relative;
  z-index: 1;
  margin-right: 80px;
  &:last-child {
    margin-right: 0;
  }

  @include mq(sp) {
    width: 100%;
  }

  &::after {
    position: absolute;
    content: "";
    width: 8px;
    height: 8px;
    right: 32px;
    top: 45%;
    transform: translateY(-50%) rotate(45deg);
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    z-index: -1;
  }

  &:hover::after {
    border-bottom: 2px solid $border-black;
    border-right: 2px solid $border-black;
    z-index: 0;
  }

  &__label {
    font-size: 1.6em;
    margin-bottom: 16px;
    font-weight: 600;
  }

  &__item {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: none;
    border: none;
    color: $font-white;
    font-size: 1.6em;
    text-align: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      background: $background-gray;
      border: 1px solid $border-base;
      color: $font-black;
    }
  }
}

// WordPressブロック用ボタンデザイン
.wp-block-button {
  width: 280px;
  margin: 0 auto;
  box-shadow: $shadow;
  text-align: center;

  &__link {
    display: block;
    border-radius: 0;
    padding: 16px 42px;
    margin: 0 auto;
    color: $font-white;
    font-size: 16px;
    background: $button-background;
    position: relative;
    z-index: 1;
    transition: 0.3s;

    @include mq(sp) {
      z-index: 0;
    }

    &::before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      background-color: $background-gray;
      border: 1px solid $border-black;
      transform-origin: 100% 50%;
      transform: scaleX(0);
      transition: transform ease 0.5s;
    }

    &:hover {
      color: $font-black;
      border-color: $border-black;
    }

    &:hover::before {
      transform-origin: 0% 50%;
      transform: scaleX(1);
    }

    &:after {
      @include stickArrow;
      top: 45%;
      right: 12%;
      border-color: $font-white;

      @include mq(sp) {
        right: 20%;
      }
    }

    &:hover::after {
      border-color: $border-black;
    }
  }
}
