/*===================================================
 c-blog.scss
 ブログ内要素の指定
================================================== */
/* ⬇︎ //////////// 変数読み込み //////////// */
@use "../mixin/mixin" as *;
@use "../mixin/animation" as *;
@use "../config/variables" as *;
@use "../config/function" as *;
@use "../config/mq" as *;
/* ⬆︎ //////////// 変数読み込み //////////// */

/* --------------------------------------------------
 single.php SNSシェア / 関連記事一覧
-------------------------------------------------- */
.article-nav {
  background-color: $background-white;
  padding: 64px 0;

  @include mq(tab) {
    padding: 48px 18px;
    &:last-child {
      padding-bottom: 48px;
    }
  }
  &__inner {
    max-width: $single-width;
    margin: 0 auto;
  }
}

/* --------------------------------------------------
 Blog-card 共通ブログカードの指定
-------------------------------------------------- */
.blog-card {
  display: flex;
  align-items: center;
  width: calc(100% / 2 - 32px / 2 * 2);
  height: 160px;
  border-top: 1px solid $border-base;
  border-bottom: 1px solid $border-base;

  @include mq(sp) {
    border: none;
  }

  &:nth-child(1) {
    border-top: 1px solid $border-base;
  }
  &:nth-child(n + 3) {
    border-top: none;
  }

  // blog.html カテゴリー内ブログカードの指定
  &--category {
    width: 100%;
    &:first-child {
      border-bottom: none;

    @include mq(sp) {
      border-bottom: 1px solid $border-base;
    }
    }
  }

  @include mq(tab) {
    width: calc(100% / 2 - 16px / 2 * 2);
    flex-wrap: wrap;
    height: auto;
    padding-bottom: 16px;
    border-bottom: 1px solid $border-base;

    &--category {
      width: 100%;
      margin-bottom: 0;
    }
  }

  @include mq(sp) {
    flex-wrap: wrap;
    height: auto;
    padding-bottom: 16px;
    width: calc(100% / 2 - 8px);
    border-top: none;
    border-bottom: 1px solid $border-base;

    &--category {
      width: calc(100% / 2 - 8px / 2 * 2);
    }
  }

  &__label {
    width: 100%;
    height: 100%;

    @include mq(tab) {
      padding-left: 0;
      border-bottom: none;
    }

    @include mq(sp) {
      width: 100%;
      display: flex;
      flex-direction: column;
      padding-left: 0;
      border-bottom: none;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px 20px;
    @include mq(tab) {
      padding: 0;
    }
  }

  &__thumb {
    width: 70%;
    height: auto;
    overflow: hidden;

    @include mq(tab) {
      width: 100%;
      height: auto;
      margin-bottom: 12px;
    }

    & > img {
      width: 100%;
      height: 100%;
      transition: 0.7s;

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  &__title {
    font-size: fluid-size(13, 16);
    line-height: 1.5;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    @include mq(pc) {
      height: 50px;
    }
    @include mq(tab) {
      padding-top: 0;
      min-height: 40px;
    }
  }

  &__title-link {
    color: $font-black;
    @include hoverText;

    font-weight: 600;
    flex-grow: 1;
  }

  &__category-link {
    display: flex;
    flex-wrap: wrap;
    gap: 8px 16px;
    flex-grow: 1;

    & > a {
      color: $font-black;
      font-size: 13px;
      position: relative;
      padding-left: 24px;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        content: url("../../images/ico/ico_folder.svg");
        vertical-align: bottom;
      }

      &::before {
        @include hoverBorder;
        bottom: -4px;
      }

      &:hover::before {
        transform: scale(1, 1);
      }

      @include mq(sp) {
        font-size: 13px;
      }
    }

    @include mq(sp) {
      flex-grow: 1;
      flex-wrap: wrap;
    }
  }

  &__date-box {
    text-align: right;
  }

  &__date {
    text-align: right;
    flex-grow: 1;
    margin-left: auto;
    padding-left: 24px;
    display: inline-block;
    font-size: fluid-size(12, 14);
    position: relative;
    color: $font-black;

    &::before {
      position: absolute;
      top: 1px;
      left: 0;
      content: url("../../images/ico/ico_clock.svg");

      @include mq(sp) {
        left: 0px;
      }
    }
  }
}

/* --------------------------------------------------
 Blog-Category ブログカテゴリーカード
-------------------------------------------------- */
.blog-category {
  display: flex;
  justify-content: center;
  gap: 0 64px;

  @include mq(tab) {
    justify-content: center;
  }

  &--top {
    margin-bottom: 48px;
  }

  &__item {
    width: calc(100% / 2 - 32px / 2 * 2);

    &:nth-child(n + 2) {
      margin-bottom: 0;
    }

    @include mq(tab) {
      width: 100%;
      margin-bottom: 48px;
    }
  }

  &__thumb-link {
    width: 100%;
    overflow: hidden;
    margin-bottom: 24px;
    position: relative;
  }

  &__thumb {
    position: relative;
  }

  &__title {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
    font-size: fluid-size(16, 20);
    font-weight: 300;
    color: $font-white;
    font-family: $font-heading;
  }

  &__image {
    width: 100%;
    transition: 0.5s;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__category-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-grow: 1;
    gap: 16px 0;
    margin-bottom: 32px;
    height: 96px;

    @include mq(tab) {
      height: auto;
      margin-bottom: 32px;
    }

    &--top {
      margin-bottom: 0;

      @include mq(tab) {
        margin-bottom: 0;
      }
    }
  }

  &__category-item {
    width: calc(100% / 2 - 8px / 2 * 2);
  }

  &__blog-list {
    margin-bottom: 32px;

    @include mq(tab) {
      display: flex;
      gap: 0 16px;
      margin-bottom: 32px;
    }
  }
}

/* --------------------------------------------------
 Blog-Affiliate アフィリエイト広告
-------------------------------------------------- */
.blog-affiliate {
  @include maxWidth;
  padding: 64px 0;
  display: flex;
  gap: 0 32px;

  @include mq(tab) {
    padding: 48px 18px 0 18px;
    margin-bottom: 0;
    flex-wrap: wrap;
    gap: 16px;
  }

  @include mq(sp) {
    padding: 32px 18px 0 18px;
    margin-bottom: 0;
    gap: 16px;
  }

  &__thumb {
    width: calc(100% / 3);

    @include mq(sp) {
      width: calc(100% / 2 - 8px);
    }
  }
}

/* --------------------------------------------------
 Blog-Nav ブログ内ナビゲーション
-------------------------------------------------- */
.blog-nav {
  background-color: $background-gray;

  &__inner {
    @include maxWidth;
    padding: 64px;
    display: flex;
    gap: 0 40px;

    @include mq(tab) {
      padding: 48px 18px;
      flex-wrap: wrap;
    }

    @include mq(sp) {
      padding: 32px 18px;
      flex-wrap: wrap;
    }
  }

  &__item {
    width: calc(100% / 3);

    @include mq(tab) {
      width: 100%;
      margin-bottom: 24px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__label {
    font-size: 1.6rem;
    font-weight: 600;
    padding-bottom: 8px;
    border-bottom: 1px solid $border-base;
    position: relative;
    margin-bottom: 16px;

    &::after {
      content: "";
      position: absolute;
      bottom: -1px;
      left: 0;
      border-bottom: 1px solid $border-black;
      width: 150px;
      height: 1px;
    }
  }

  /* ========= 関連キーワード ========= */
  &__tag-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px 8px;

    & a {
      font-size: 1.125rem;
      position: relative;
      padding: 8px;
      background-color: $button-secondary;
      color: $font-white;
      padding-left: 28px;
      transition: 0.3s;

      &::before {
        content: "";
        position: absolute;
        top: 27%;
        left: 0;
        background-image: url("../../images/ico/ico_tag.svg");
        width: 14px;
        height: 14px;
        margin-left: 8px;
      }

      &:hover {
        opacity: 0.8;
      }
    }
  }
}

/* --------------------------------------------------
 ブログナビ プロフィールCSS
-------------------------------------------------- */
.blog-profile {
  &__icon-profile {
    display: flex;
    gap: 0 16px;
    margin-bottom: 16px;
  }

  &__text {
    font-size: 1.4rem;
  }

  &__desc {
    font-size: 1.4rem;
    margin-bottom: 16px;
  }

  &__link-about {
    text-align: center;

    @include mq(tab) {
      text-align: center;
    }
  }

  &__link {
    font-size: 1.4rem;
    color: $font-black;
    display: inline-block;
    position: relative;
    padding: 0 24px 4px 0;
    border-bottom: 1px solid $border-base;
    font-weight: 600;

    &::before {
      @include stickArrow;
    }

    &::after {
      @include hoverBorder;
      bottom: -4px;
    }

    &:hover::after {
      transform: scale(1, 1);
    }
  }
}

/* --------------------------------------------------
 Table of Contentsプラグイン 目次のスタイリング
-------------------------------------------------- */
#toc_container {
  box-sizing: border-box;
  margin: 0 auto 48px auto;
  background-color: $background-white;
  display: block !important;

  .toc_title {
    font-weight: 600;
    text-align: center;
    background-color: $background-black;
    color: $font-white;
    padding: 4px 0;

    & a {
      display: inline-block;
      color: $font-white;
      border-bottom: 1px solid $border-base;
      line-height: 1.75;
    }
  }

  .toc_list {
    padding: 24px;
  }

  ul a {
    font-size: 14px;
    display: block;
    color: $font-black;
    border-bottom: 1px dotted $border-base;
    line-height: 1.75;
    @include hoverText;
  }

  .toc_list>li>a {
    border-bottom: 2px solid $border-base;
    font-size: fluid-size(14, 16);
  }

  ul ul {
    padding: 16px 0 8px 16px;
    font-size: fluid-size(14, 16);
  }

  li {
    margin-bottom: 14px;
  }
}