/*===================================================
 heading.scss
 各ページビジュアルの定義
================================================== */
/* //////////// 変数読み込み //////////// */
@use "../mixin/mixin" as *;
@use "../config/variables" as *;
@use "../config/function" as *;
@use "../config/mq" as *;
/* //////////// 変数読み込み //////////// */

/* --------------------------------------------------
 Contents-Heading ページ内コンテンツ見出し 
-------------------------------------------------- */
.contents-heading {
  font-size: fluid-size(28, 48);
  text-align: center;
  margin-bottom: fluid-size(32, 48);
  position: relative;

  &__main {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      border-bottom: 1px solid;
      width: 40px;
      bottom: -10px;
      left: 50%;
      background-color: $border-black;
      transform: translate(-50%, -50%);
      @include mq(sp) {
        bottom: -5px;
      }
    }
  }

  &__sub {
    display: block;
    font-size: fluid-size(16, 18);
    padding-top: 32px;
    margin-left: auto;

    @include mq(sp) {
      padding-top: 16px;
    }
  }

  &__side-link, &__side-time {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  &__link {
    font-size: fluid-size(14, 14);
    color: $font-black;
    padding: 0 24px 4px 0;
    font-weight: 300;
    border-bottom: 1px solid $border-base;
    &::before {
      @include stickArrow;
    }
    &::after {
      @include hoverBorder;
      bottom: -4px;
    }
    &:hover::after {
      transform: scale(1, 1);
    }
  }

  &__time {
    font-size: fluid-size(14, 14);
    color: $font-black;
    font-weight: 300;
  }
}

/* --------------------------------------------------
 Contents-Title コンテンツ内容見出し 
-------------------------------------------------- */
.contents-title {
  text-align: center;
  position: relative;
  
  &__title {
    width: fluid-size(300, 426);
    margin: 0 auto 32px auto;
    text-align: center;
    font-size: fluid-size(18, 24);
    position: relative;
    font-weight: 600;

    &--works {
      margin-bottom: 0;
    }

    
    @include mq(tab) {
      margin-bottom: 32px;
    }
    
    @include mq(sp) {
      width: 240px;
      margin-bottom: 24px;
    }

    &::after {
      content: "";
      width: fluid-size(40, 96);
      height: 1px;
      background-color: $border-base;
      position: absolute;
      top: 50%;
      left: 0;
    }

    &::before {
      content: "";
      width: fluid-size(40, 96);
      height: 1px;
      background-color: $border-base;
      position: absolute;
      top: 50%;
      right: 0;
    }
  }

  /* ===== 以下 リンク付きタイトルの指定 ===== */
  &__page-link {
    margin-left: auto;
    position: absolute;
    font-size: fluid-size(14, 14);
    bottom: 0;
    right: 0;

    @include mq(sp) {
      width: 261px;
      margin: 0 auto;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, -50%)
    }

    @include mq(tab) {
      display: none;
    }
  }

  &__link {
    color: $font-black;
    position: relative;
    padding: 0 24px 4px 0;
    font-weight: 300;
    border-bottom: 1px solid $border-base;

    &::before {
      @include stickArrow;
    }
    &::after {
      @include hoverBorder;
      bottom: -4px;
    }
    &:hover::after {
      transform: scale(1, 1);
    }
  }
}

