/*===================================================
 c-nav.scss
 各種ナビゲーションの指定
================================================== */
/* ⬇︎ //////////// 変数読み込み //////////// */
@use "../mixin/mixin" as *;
@use "../mixin/animation" as *;
@use "../config/variables" as *;
@use "../config/function" as *;
@use "../config/mq" as *;
/* ⬆︎ //////////// 変数読み込み //////////// */

/* --------------------------------------------------
 header-fixed__nav 固定ナビゲーション
-------------------------------------------------- */
.header-nav {
  position: absolute;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  height: 60px;
  & ul {
    display: flex;
    justify-content: center;
    position: relative;

    // ###### 標準メニュー ######
    & .menu-item {
      margin-right: 5%;

      & a {
        display: block;
        font-size: 14px;
        transition: all 0.3s;
        color: #fafafa;
        position: relative;
        line-height: 60px;
        &::before {
          @include hoverBorder;
          bottom: 16px;
        }

        &:hover::before {
          transform: scale(1, 1);
        }
      }
    }

    // ###### サブメニュー付きメニュー ######
    & .menu-item_arrow {
      margin-right: 5%;
      & > a {
        display: block;
        font-size: 14px;
        transition: all 0.3s;
        color: #fafafa;
        position: relative;
        line-height: 60px;
        &::before {
          @include hoverBorder;
          bottom: 16px;
        }

        &:hover::before {
          transform: scale(1, 1);
        }

        @include rightArrow;
        &::after {
          top: 26px;
        }
      }
    }
  }

  // サブメニュー
  & .sub-menu {
    position: absolute;
    top: 60px;
    left: 0;
    height: 40px;
    background-color: $background-black;
    width: 100%;
    display: flex;
    justify-content: center;

    & .menu-subitem {
      margin-right: 5%;
      & a {
        color: $font-white;
        position: relative;
        font-size: 14px;
        position: relative;
        line-height: 40px;
        &::before {
          @include hoverBorder;
          bottom: 8px;
        }

        &:hover::before {
          transform: scale(1, 1);
        }
      }
    }
  }
}

/* --------------------------------------------------
 category-nav ブログカテゴリーナビ
-------------------------------------------------- */
.category-nav {
  @include centerWidth;
  justify-content: center;
  margin: 0 auto 48px auto;

  &__list {
    display: flex;
    height: 80px;

    @include mq(tab) {
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      height: 100%;
    }
  }

  &__item {
    width: calc(100% / 2);
    text-align: center;
    border: 1px solid $border-base;
    transition: 0.3s;
    padding: 8px;
    background-color: $background-white;
    
    &:hover {
      background-color: $button-background;
      color: $font-white;
    }
    
    & > a {
      display: block;
      width: 100%;
      height: 100%;
      transition: 0.5s;
      position: relative;
      
      &:hover > .category-nav__link-icon {
        filter: brightness(0) saturate(100%) invert(99%) sepia(32%);
      }

      &:hover > .category-nav__text {
        color: $font-white;
      }
    }
  }

  &__icon {
    width: 32px;
    height: 32px;
  }

  &__link-icon {
    margin-bottom: 8px;
  }

  &__text {
    color: $font-black;
    font-size: 14px;
    @include mq(tab) {
      font-size: 1.2rem;
    }
  }

  & .style-change {
    background-color: $button-background;
  }

  & .style-change > .category-nav__link-icon {
    filter: brightness(0) saturate(100%) invert(99%) sepia(32%);
  }

  & .style-change > .category-nav__text {
    color: $font-white;
  }
}

/* --------------------------------------------------
 header-single__nav singleページ用固定ナビゲーション
-------------------------------------------------- */
.header-single-nav {
  position: absolute;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  height: 60px;
  & ul {
    display: flex;
    justify-content: center;
    position: relative;

    // ###### 標準メニュー ######
    & .menu-item {
      margin-right: 5%;

      & a {
        display: block;
        font-size: 14px;
        transition: all 0.3s;
        color: #fafafa;
        position: relative;
        line-height: 60px;
        &::before {
          @include hoverBorder;
          bottom: 16px;
        }

        &:hover::before {
          transform: scale(1, 1);
        }
      }
    }

    // ###### サブメニュー付きメニュー ######
    & .menu-item_arrow {
      margin-right: 5%;
      & > a {
        display: block;
        font-size: 14px;
        transition: all 0.3s;
        color: #fafafa;
        position: relative;
        line-height: 60px;
        &::before {
          @include hoverBorder;
          bottom: 16px;
        }

        &:hover::before {
          transform: scale(1, 1);
        }

        @include rightArrow;
        &::after {
          top: 26px;
        }
      }
    }
  }

  // サブメニュー
  & .sub-menu {
    position: absolute;
    top: 60px;
    left: 0;
    height: 40px;
    background-color: #555;
    width: 100%;
    display: flex;
    justify-content: center;

    & .menu-subitem {
      margin-right: 5%;
      & a {
        color: $font-white;
        position: relative;
        font-size: 14px;
        position: relative;
        line-height: 40px;
        &::before {
          @include hoverBorder;
          bottom: 8px;
        }

        &:hover::before {
          transform: scale(1, 1);
        }
      }
    }
  }
}

/* ================================== 以下 スマホ画面指定 ================================== */

/* --------------------------------------------------
 header-mobile__nav スマホ用ナビゲーション
-------------------------------------------------- */
.header-mobile {
  &__nav {
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* --------------------------------------------------
 bottom_nav スマホ用ボトムナビゲーション
-------------------------------------------------- */
.bottom-nav {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 48px;
  margin: 0;
  padding: 5px 0;
  background-color: $background-nav;
  z-index: 999;

  & .bottom-menu {
    display: flex;
    justify-content: space-between;

    & > li {
      width: 20%;
      text-align: center;

      & > a {
        display: block;
        color: $font-white;
        padding-top: 4px;
        font-size: 12px;
      }
    }
  }

  & .size {
    font-size: 2.5rem;
    margin-bottom: 4px;
  }

  & span {
    display: block;
  }
}

/* --------------------------------------------------
 scroll-nav スマホ用スクロールナビゲーション
-------------------------------------------------- */
.scroll-menu {
  position: relative;
  background-color: $background-nav;
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar-track {
    background-color: $border-base;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    width: max-content;
    padding: 6px;
    margin: 0 auto;
    padding-right: 25px;
    &:last-child {
      padding-right: 12px;
    }

    &--about {
      min-width: 350px;
    }
  }

  // メニュー個別幅
  &__item-about {
    padding: 0 12px;
    height: 15px;
    line-height: 15px;
    text-align: center;
    display: table-cell;
    border-right: 0.5px solid $border-base;
    box-sizing: border-box;

    &:last-child {
      border: none;
      padding-right: 0;
    }
  }

  &__item-works {
    width: 100%;
    padding: 0 16px;
    height: 15px;
    line-height: 15px;
    text-align: center;
    display: table-cell;
    border-right: 0.5px solid $border-base;
    box-sizing: border-box;
    &:last-child {
      border: none;
      padding-right: 0;
    }
  }

  &__item-blog {
    width: 100%;
    padding: 0 16px;
    height: 15px;
    line-height: 15px;
    text-align: center;
    display: table-cell;
    border-right: 0.5px solid $border-base;
    box-sizing: border-box;
    &:last-child {
      border: none;
      padding-right: 0;
    }
  }

  & a {
    display: inline-block;
    color: $font-white;
    font-size: fluid-size(12, 12);
    letter-spacing: 0.1em;
  }
}
