/*===================================================
 pagination.scss
 ページネーションの指定
================================================== */

/* //////////// 変数読み込み //////////// */
@use "../mixin/mixin" as *;
@use "../mixin/animation" as *;
@use "../config/variables" as *;
@use "../config/function" as *;
@use "../config/mq" as *;
/* //////////// 変数読み込み //////////// */
/* --------------------------------------------------
  Blog ページネーション 指定
-------------------------------------------------- */
.pagination {
  margin-top: 48px;
  list-style: none;
  display: flex;
  justify-content: center;
  transition: 0.3s;
  background-color: $background-gray;

  & .page-numbers {
    display: block;
    text-decoration: none;
    color: $font-black;
    border: 1px solid $border-base;
    padding: 20px;
    font-size: fluid-size(14, 16);
    transition: 0.5s;

    &:hover {
      color: $font-white;
      background-color: $background-black;
    }
  }

  & .current {
    background-color: $background-black;
    color: $font-white;
  }
  
}
