/*===================================================
 visual.scss
 各ページビジュアルの定義
================================================== */
/* //////////// 変数読み込み //////////// */
@use "../mixin/mixin" as *;
@use "../config/variables" as *;
@use "../config/function" as *;
@use "../config/mq" as *;
/* //////////// 変数読み込み //////////// */

.pkz {
  width: 100%;
  background-color: $background-gray;

  @include mq(tab) {
    background-color: $background-white;
    padding-top: 12px;
  }


  &__inner {
    @include maxWidth;
    padding: 32px 64px 0 64px;
    display: flex;
    @include mq(tab) {
      padding: 0 18px;
    }
  }

  &__item {
    
  }

  #breadcrumbs {
    font-size: 14px;
    @include mq(tab) {
      font-size: 12px;
    }

    & ul {
      display: flex;
      @include mq(tab) {
        overflow: hidden;
        overflow-x: scroll;
        word-break: keep-all;
        white-space: nowrap;
        scrollbar-gutter: stable;
        padding-bottom: 8px;
      }
      

      & li {
        &:nth-child(even) {
          padding: 0 24px;
          @include mq(tab) {
            padding: 0 12px;
          }
        }

        & a {
          color: $font-black;
          display: inline;
          border-bottom: 1px solid $border-black;
          @include hoverText;
        }
      }
    }
  }
  &__list {
    display: flex;

    @include mq(sp) {
      display: flex;
      overflow-x: scroll;
      word-break: keep-all;
      white-space: nowrap;
    }
  }

  &__item {
    display: inline;
    position: relative;
    padding-bottom: 4px;

    &::after {
      content: "\003e";
      padding: 0 16px;
    }

    &:last-child::after {
      content: "";
      padding: 0;
    }
  }

  &__link {
    display: inline-block;
    font-size: fluid-size(12, 14);
    color: $font-black;
    position: relative;
    padding-bottom: 4px;
    &::before {
      @include hoverBorder;
      bottom: 0px;
    }

    &:hover::before {
      transform: scale(1, 1);
    }
  }
  
}

