/*===================================================
 search.scss
 検索フォーム
================================================== */
/* //////////// 変数読み込み //////////// */
@use "../mixin/mixin" as *;
@use "../config/variables" as *;
@use "../config/function" as *;
@use "../config/mq" as *;
/* //////////// 変数読み込み //////////// */

/* --------------------------------------------------
 search 検索フォーム
-------------------------------------------------- */
.searchform {
  padding: 0;
  margin: 0 10px 0 0;
  display: flex;
  z-index: 1000;

  @include mq(tab) {
    display: none;
  }

  & input[type="text"] {
    display: block;
    font-size: fluid-size(14, 14);
    height: 40px;
    width: 100%;
    padding: 0 16px;
    box-sizing: border-box;
    border: none;
    outline: none;
    background-color: $background-white;

  }

  & input[type="submit"] {
    vertical-align: top;
    border: none;
    background: url("../../images/ico/ico_search-white.svg");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    width: 40px;
    padding: 4px 16px;
    background-color: $button_background;
    transition: 0.3s;

    &:hover {
      background-color: $button-hover;
    }
  }
}

/* --------------------------------------------------
 ブログナビ 検索フォーム
-------------------------------------------------- */
.blog-nav-search {
  & .searchform input[type="text"] {
    width: 100%;
  }
}

/* --------------------------------------------------
 search-wrap スマホ用検索フォーム
-------------------------------------------------- */
/*========= 検索窓を開くための虫眼鏡ボタン設定 ===========*/
.search-open-btn {
  position: absolute;
  right: 16px;
  background: url("../../images/ico/ico_search-white.svg") no-repeat center; /*虫眼鏡アイコンを背景に表示*/
  width: 48px;
  height: 48px;
  background-size: 24px 24px;
  cursor: pointer;
}

/* ========= 検索窓の設定 =============== */

/*==検索窓背景のエリア*/
.search-wrap {
  display: none;
  position: fixed; /*固定配置にして*/
  top: 0;
  left: 0;
  z-index: -1; /*最背面に設定*/
  opacity: 0; /*透過を0に*/
  transition: all 0.4s; /*transitionを使ってスムースに現れる*/
  width: 100%;
  height: 100vh;

  /*ボタンクリック後、JSで.search-wrapに panelactive クラスが付与された後の見た目*/
  &.panelactive {
    opacity: 1; /*不透明に変更*/
    z-index: 0; /*全面に出現*/
    line-height: 0;
    background: rgba(85, 85, 85, 0.85);
    /*中の要素を天地中央揃えにする設定*/
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__inner {
    display: flex;
  }

  &__input {
    -webkit-appearance: none; /*SafariやChromeのデフォルトの設定を無効*/
    outline: none;
    cursor: pointer; /*カーソルを指マークに*/
  }

  /*==検索フォームの設定*/
  &__input[type="text"] {
    width: 100%;
    height: 56px;
    padding: 0 16px;
    border: none;
    transition: all 0.5s;
    font-size: fluid-size(14, 14);

    &:focus {
      background: #fff;
    }
  }

  &__submit {
    background: url("../../images/ico/ico_search-white.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #555;
    background-size: 24px 24px;
    border: none;
    width: 56px;
    height: 56px;
    cursor: pointer;
  }
}

/*==検索窓のエリア*/
.search-wrap .search-area {
  display: none; /*検索窓のエリアは、はじめ非表示*/
}

/* ボタンクリック後、JSで#search-wrapに panelactive クラスが付与された後 */
.search-wrap.panelactive .search-area {
  display: block; /*検索窓エリアを表示*/
  width: 80%;
  position: relative;
}

/*======= 閉じるための×ボタン ========*/
.search-close-btn {
  position: absolute;
  top: 10px;
  right: 16px;
  z-index: 2;
  cursor: pointer;
  width: 56px;
  height: 56px;

  &__border {
    display: inline-block;
    position: absolute;
    top: 50;
    right: 14px;
    height: 3px;
    border-radius: 2px;
    background-color: #fff;

    &:nth-last-of-type(1) {
      top: 15%;
      right: 8px;
      transform: translateY(6px) rotate(-135deg);
      width: 50%;
    }

    &:nth-last-of-type(2) {
      top: 35%;
      right: 8px;
      transform: translateY(-6px) rotate(135deg);
      width: 50%;
    }
  }
}

.search-none {
  &__text {
    margin-bottom: 32px;
  }

  .searchform {
    width: 400px;
    margin: 0 auto;
  }

  input[type="text"] {
    height: 48px;
    border: 1px solid $border-base;
    padding: 0 16px;
  }

  input[type="submit"] {
    vertical-align: top;
    background: url("../../images/ico/ico_search-white.svg");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    width: 40px;
    background-color: $button_background;
  }
}

/* --------------------------------------------------
 Works 絞り込み検索 指定
-------------------------------------------------- */
.px-3 {
  font-size: fluid-size(14, 16);
  margin-bottom: 16px;
}

/***** 非表示：Bootstrap使用時は不要 *****/
.d-none {
  display: none;
}
