/*===================================================
 c-tab.scss
 タブメニューの指定
================================================== */
/* ⬇︎ //////////// 変数読み込み //////////// */
@use "../mixin/mixin" as *;
@use "../mixin/animation" as *;
@use "../config/variables" as *;
@use "../config/function" as *;
@use "../config/mq" as *;
/* ⬆︎ //////////// 変数読み込み //////////// */

/* --------------------------------------------------
 WordPress WPTabプラグインCSS
-------------------------------------------------- */
#sp-wp-tabs-wrapper_686.sp-tab__lay-default > ul li.sp-tab__nav-item {
  width: calc(100% / 3);
  margin-top: 0;
  border-bottom: 1px solid $border-base;
  @include mq(sp) {
    width: 50%;
    margin-bottom: 8px;
  }
}

#sp-wp-tabs-wrapper_686 {
  & .sp-tab__nav {
    display: flex;
    align-items: center;
    margin-bottom: 48px;
  }

  &.sp-tab__nav-link {
    border: 2px solid $border-black;
  }

  & .sp-tab__tab_title {
    display: flex;
    align-items: center;
    padding-bottom: 8px;
    transition: 0.3s;

    & > img {
      margin-right: 16px;
    }

    & > span {
      font-weight: 300;
      @include mq(sp) {
        font-size: 14px;
      }
    }
  }

  & .sp-tab__nav-link {
    & .sp-tab__tab_title:hover {
      color: #818181 !important;

      & img {
        filter: invert(53%) sepia(2%) saturate(3%) hue-rotate(342deg) brightness(95%) contrast(93%);
      }
    }
  }
}

#sp-wp-tabs-wrapper_686 .sp-tab__nav-tabs .sp-tab__nav-item.show .sp-tab__nav-link,
#sp-wp-tabs-wrapper_686.sp-tab__lay-default ul li label.sp-tab__active {
  border-bottom: 2px solid $border-black;
  & .sp-tab__tab_title > span {
    font-weight: 600;
  }
}

.sp-tab-content {
  display: flex;
  flex-wrap: wrap;
  gap: 32px 64px;
  @include mq(tab) {
    gap: 16px;
  }
}

ul.tab li {
  /*タブ部分*/
  float: left;
  margin-right: 10px;
}
ul.tab li.active a {
  /*選択中のタブ*/
  color: #333;
  font-weight: bold;
}
.tab_area {
  /*切り替え部分非表示*/
  display: none;
}
.tab_content {
  /*内容*/
  width: 300px; /*幅*/
  clear: both;
  overflow: hidden;
}
.tab_content ul li {
  /*内容のリスト表示*/
  clear: both; /*画像有りの場合*/
}
.tab_content ul li img {
  /*リスト内画像*/
  float: left;
  margin: 0 10px 10px 0;
}

/* --------------------------------------------------
 Tab タブメニュー
-------------------------------------------------- */
.tab {
  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 48px;

    &--top-blog {
      justify-content: flex-start;
    }

    @include mq(sp) {
      flex-wrap: wrap;
      gap: 16px 0;
      margin-bottom: 24px;
    }
  }

  &__item {
    width: calc(100% / 2);
    text-align: center;
    border-bottom: 1px solid $border-base;

    &--two-tab {
      width: calc(100% / 2);
    }

    &--three-tab {
      width: calc(100% / 3);
    }
    @include mq(sp) {
      width: 50%;
    }
  }

  &__icon {
    width: 16px;
    height: 16px;
    margin-right: 8px;
    vertical-align: baseline;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: fluid-size(12, 16);
    padding-bottom: 4px;
    color: $font-black;
    position: relative;
    &::before {
      @include hoverBorder;
      border-color: $border-black;
      bottom: -2px;
    }
    &:hover::before {
      transform: scale(1, 1);
    }
  }

  // アクティブ状態の指定
  &__item.active &__link {
    font-weight: 600;
    padding-top: 2px;
    border-bottom: 2px solid $border-black;
    pointer-events: none;
  }

  /* //////////// タブ内エリア //////////// */
  &__area {
    display: none; /*はじめは非表示*/
    opacity: 0; /*透過0*/

    &--pagination {
      display: flex;
    }
  }

  &__area.is-active {
    display: block; /*表示*/
    @include animation($name: tabAnime, $duration: 2s, $fill-mode: forwards);
  }
  @keyframes tabAnime {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
