/*===================================================
 works.scss
 worksページの指定
================================================== */
/* //////////// 変数読み込み //////////// */
@use "../mixin/mixin" as *;
@use "../config/variables" as *;
@use "../config/function" as *;
@use "../config/mq" as *;
/* //////////// 変数読み込み //////////// */

.works-contents {

  /* --------------------------------------------------
 各種見出し
-------------------------------------------------- */
  h2 {
    font-size: fluid-size(18, 24);
    padding: 12px;
    background-color: $background-white;
    margin-bottom: 32px;
    box-shadow: $shadow;
    margin-top: 56px;

    @include mq(sp) {
      margin-top: 48px;
    }
  }

  h3 {
    padding: 0 0 6px 12px;
    border-bottom: 1.5px solid $border-base;
    margin: 32px 0;
    font-size: fluid-size(16, 20);
  }

  h4 {
    font-size: fluid-size(16, 18);
    border-left: 6px solid $border-base;
    padding-left: 8px;
    margin: 24px 0;
  }

  h5 {
    font-size: fluid-size(14, 16);
    margin: 16px 0;
  }

  /* --------------------------------------------------
 引用 / テキスト関連
-------------------------------------------------- */
  & blockquote {
    border-left: 1.5px solid $border-base;
    padding: 8px 16px;
    margin-bottom: 24px;

    &:last-of-type {
      margin-bottom: 0;
    }

    & p {
      font-size: fluid-size(14, 14);
    }
  }

  & strong {
    font-weight: 600;
  }

  & p {
    font-size: fluid-size(14, 16);
    margin-bottom: 12px;
  }

  & .wp-block-spacer {
    height: 48px !important;
    margin: 0;
  }

  & a {
    display: inline-block;
    color: $font-black;
    padding-bottom: 2px;
    border-bottom: 1px solid $border-black;
    transition: 0.3s;
    font-weight: 600;

    &::after {
      content: "⇀";
      padding-left: 8px;
    }

    &:hover {
      opacity: 0.6;
    }
  }

  /* --------------------------------------------------
 テーブル
-------------------------------------------------- */
  & .wp-block-table {
    margin-bottom: 32px;

    @include mq(sp) {
      overflow-x: scroll;
    }
  }

  & table {
    width: 100%;
    font-size: fluid-size(14, 14);
    border-collapse: collapse;
    background-color: $background-gray;
    -webkit-border-horizontal-spacing: 0;
    -webkit-border-vertical-spacing: 0;

    @include mq(sp) {
      width: 800px;
    }

    & thead th {
      background-color: $background-black;
      color: $font-white;
    }

    & th,
    td {
      border: 1px solid $border-base;
      padding: 10px;
    }

    & a {
      color: $font-black;
      padding-bottom: 2px;
      border-bottom: 1px solid $border-black;
      transition: 0.3s;

      &::after {
        content: "⇀";
      }

      &:hover {
        opacity: 0.6;
      }
    }
  }

  /* --------------------------------------------------
 リスト
-------------------------------------------------- */
  & ul {
    padding: 0 16px;
    margin: 16px 16px 32px 16px;
    list-style-position: inside;

    &:last-child {
      margin-bottom: 0;
    }

    & li {
      list-style-type: square;
      font-size: fluid-size(14, 16);
      margin-bottom: 12px;

      &:last-child {
        margin-bottom: 0;
      }

      & ul {
        margin: 12px;

        & li {
          list-style-type: disc;

          & ul {
            & li {
              list-style-type: circle;
            }
          }
        }
      }
    }
  }

  & ol {
    padding: 0 16px;
    margin: 0 16px;
    font-size: fluid-size(14, 16);
    counter-reset: item;
    list-style-type: none;

    & li {
      margin-bottom: 12px;

      &::before {
        counter-increment: item;
        content: counters(item, "-") ". ";
      }

      & ol {
        margin: 12px;
        counter-reset: 0;
      }
    }
  }

    /* --------------------------------------------------
 画像
-------------------------------------------------- */
  & img.alignright{
    display: block;
    margin: 0 0 0 auto;
  }
  & img.alignleft{
    display: block;
    margin: 0 auto 0 0;
  }
  & img.aligncenter{
    display: block;
    margin: 0 auto;
  }


  & .wp-element-caption {
    margin-top: 8px;
    text-align: center;
    font-size: fluid-size(14, 14);
  }

  & .wp-block-columns {
    margin-bottom: 32px;
    display: flex;
    gap: 48px;

    @include mq(sp) {
      flex-direction: column;
    }
  }


     /* --------------------------------------------------
ボタン
-------------------------------------------------- */
& .wp-block-button {
  width: 320px;
  margin: 24px auto 32px auto;
  text-align: center;
  cursor: pointer;

  @include mq(sp) {
    width: 100%;
    text-align: center;
  }

  &__link {
    display: block;
    padding: 16px 24px;
    margin: 0 auto;
    color: $font-white;
    font-size: 16px;
    background: $button-background;
    position: relative;
    z-index: 1;
    transition: 0.3s;

    @include mq(sp) {
      z-index: 0;
    }

    &::before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      background-color: $background-gray;
      border: 1px solid $border-black;
      transform-origin: 100% 50%;
      transform: scaleX(0);
      transition: transform ease 0.5s;
    }

    &:hover {
      color: $font-black;
      border-color: $border-black;
    }

    &:hover::before {
      transform-origin: 0% 50%;
      transform: scaleX(1);
    }

    &:after {
      @include stickArrow;
      top: 45%;
      right: 16px;
      border-color: $font-white;

      @include mq(sp) {
        right: 10%;
      }
    }

    &:hover::after {
      border-color: $border-black;
    }
  }
  }
}