/* ===================================================
 mixin.scss
 使い回しパーツの定義
================================================== */
/* ⬇︎ //////////// 変数読み込み //////////// */
@use "../config/variables" as *;
@use "../config/function" as *;
@use "../config/mq" as *;
/* ⬆︎ //////////// 変数読み込み //////////// */

/* --------------------------------------------------
  Max-Width コンテンツ最大幅の指定
-------------------------------------------------- */ 
@mixin maxWidth {
  max-width: $max-width;
  margin: 0 auto;

  @include mq(sp) {
    width: 100%;
    padding: 0 18px;
  }
}

/* --------------------------------------------------
  Center-Width 文字列最大幅の指定
-------------------------------------------------- */
@mixin centerWidth {
  max-width: $center-width;
  margin: 0 auto;
}
