/*===================================================
  variables.scss
  変数格納
================================================== */

/* --------------------------------------------------
 Width 画面・コンテンツ幅
-------------------------------------------------- */ 
$max-width: 1280px;
$center-width: 976px;

/* --------------------------------------------------
 Background ページ背景色
-------------------------------------------------- */ 
$background-white: #fafafa;
$background-gray: #ededed;
$background-black: #101010;

/* --------------------------------------------------
 Nav-Background ナビゲーション背景色
-------------------------------------------------- */ 
$background-nav: rgba(85, 85, 85, 0.90);

/* --------------------------------------------------
 Color フォント色
-------------------------------------------------- */ 
$font-white: #fafafa;
$font-black: #555;
$font-background: #E2E2E2;  // トップページの背景文字のみ

/* --------------------------------------------------
 Border 罫線色
-------------------------------------------------- */ 
$border-base: #cecece;
$border-contact: #a7a7a7;

/* --------------------------------------------------
 Button/Link ボタン,リンク色
-------------------------------------------------- */ 
$button_link-base: #555;
$button-hover: #818181;

/* --------------------------------------------------
 Font Family 文字指定
-------------------------------------------------- */ 
$font-family-sans-serif: 'Noto Sans', YuGothic,'Yu Gothic','ヒラギノ角ゴシック','Hiragino Sans','Arial', sans-serif;
$font-catch-copy: 'klee','ヒラギノ明朝 ProN','Hiragino Mincho ProN',sans-serif;

/* --------------------------------------------------
 Line Height 行間
-------------------------------------------------- */ 
$line-height-base:  3.2;
$line-height-list:  2.4;

/* --------------------------------------------------
 Letter Spacing 文字間
-------------------------------------------------- */ 
$letter-spacing: 0.1em;

