/*===================================================
 base.scss
 ページ内ベース設定
================================================== */
/* //////////// 変数読み込み //////////// */
@use "../mixin/mixin" as *;
@use "../config/variables" as *;
@use "../config/function" as *;
@use "../config/mq" as *;
/* //////////// 変数読み込み //////////// */

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  box-sizing: border-box;
  font-family: $font-family-sans-serif;
  letter-spacing: 0.1em;
  color: $font-black;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  object-fit: contain;
}

a {
  display: block;
  text-decoration: none;
  font-weight: 300;
}

li {
  list-style: none;
}

h1 {
  margin: 0;
  padding: 0;
}

p {
  line-height: 2.0;
  letter-spacing: 0.1em;
  font-weight: 300;
  
  @include mq(sp) {
    line-height: 1.7;
  }
}

/* --------------------------------------------------
 ページ内 z-index指定
-------------------------------------------------- */
.container {
  z-index: 0;
  position: relative;
}

/* --------------------------------------------------
 ページ内 各コンテンツベース余白指定
-------------------------------------------------- */
.contents {
  &__article {
    padding: 80px 48px;
    @include mq(sp) {
      padding: 64px 18px;
    }
    &--bg {
      background-color: $background-gray;
    }

    &--about {
      padding-top: 48px
    }
  }

  &__desc {
    @include centerWidth;
    font-size: fluid-size(14, 16);
    margin: 0 auto 64px auto;
    @include mq(sp) {
      margin: 0 auto 32px auto;
    }
  }

  &__wrapper {
    margin-bottom: 80px;

    &:last-child {
      margin-bottom: 0;
    }

    @include mq(sp) {
      margin-bottom: 64px;
    }
    
  }
}


