/*===================================================
 visual.scss
 各ページビジュアルの定義
================================================== */
/* //////////// 変数読み込み //////////// */
@use "../mixin/mixin" as *;
@use "../config/variables" as *;
@use "../config/function" as *;
@use "../config/mq" as *;
/* //////////// 変数読み込み //////////// */

.main-visual {
  height: 100vh;
  position: relative;
  background: url("../../images/img/img_hero-visual.jpg") no-repeat center / cover;
  z-index: 1;

  &--about {
    background: url("../../images/img/img_about-visual.jpg") no-repeat center / cover;
  }

  &--works {
    background: url("/works/images/img/img_works-visual.jpg") no-repeat center / cover;
  }

  &__inner {
    height: 100vh;
    position: relative;
  }

/* --------------------------------------------------
 キャッチコピー
-------------------------------------------------- */
  &__catchcopy {
    font-family: $font-catch-copy;
    position: absolute;
    top: 50%;
    right: 0;
    font-size: fluid-size(26, 56);
    color: $font-white;
    padding-right: 48px;

    @include mq(sp) {
      top: 40%;
    }
  }

  &__text-line {
    line-height: 1.7;
    display: block;
    &--bottom {
      margin-left: 110px;
      @include mq(sp) {
        margin-left: 42px;
      }
    }
  }

/* --------------------------------------------------
 各ページタイトル
-------------------------------------------------- */
  &__page-title {
    position: absolute;
    top: 50%;
    left: 0;
    padding-left: 48px;

    @include mq(sp) {
      left: -18px;
    }
  }

  &__heading {
    display: block;
    font-size: fluid-size(26, 48);
    color: $font-white;
    font-weight: 300;
    margin-bottom: 8px;
  }

  &__sub-heading {
    display: block;
    font-weight: 300;
    font-size: fluid-size(20, 24);
    position: relative;
    padding-left: 48px;
    color: $font-white;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      width: fluid-size(16, 32);
      height: 1px;
      background-color: $border-base;
    }
  }
}
