/* ===================================================
 mixin.scss
 使い回しパーツの定義
================================================== */
/* ⬇︎ //////////// 変数読み込み //////////// */
@use "../config/variables" as *;
@use "../config/function" as *;
@use "../config/mq" as *;
/* ⬆︎ //////////// 変数読み込み //////////// */

/* --------------------------------------------------
  Max-Width コンテンツ最大幅の指定
-------------------------------------------------- */ 
@mixin maxWidth {
  max-width: 1600px;
  margin: 0 auto;
  @include mq(tab) {
    padding: 0 8px;
  }
}

@mixin centerWidth {
  max-width: $center-width;
  margin: 0 auto 64px auto;
}

/* --------------------------------------------------
  Center-Width 文字列最大幅の指定
-------------------------------------------------- */
@mixin centerWidth {
  max-width: $center-width;
  margin: 0 auto;
}

/* --------------------------------------------------
  ホバー時左からの下線表示の指定
-------------------------------------------------- */
@mixin hoverBorder {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: $border-base;
  left: 0;
  bottom: 8px;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform 0.3s;
}

/* --------------------------------------------------
  テキストホバーの指定
-------------------------------------------------- */
@mixin hoverText {
  transition: 0.3s;
  &:hover {
    color: #818181;
  }
}

/* --------------------------------------------------
  画像ホバーの指定
-------------------------------------------------- */
@mixin hoverImage {
  transition: 0.5s;
  
  &:hover {
    transform: scale(1.2, 1.2);
  }
}


/* --------------------------------------------------
  「 ＞ 」矢印の指定
-------------------------------------------------- */
@mixin rightArrow {
  &::after {
    content: "";
    position: absolute;
    top: 6px;
    right: -16px;
    width: 6px;
    height: 6px;
    border-top: 2px solid $font-white;
    border-right: 2px solid $font-white;
    transform: rotate(45deg);
  }

  &:hover::after {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    border-top: 2px solid $font-white;
    border-right: 2px solid $font-white;
    transition: all 0.3s;
    transform: rotate(135deg);
  }
}

/* --------------------------------------------------
  棒付き矢印の指定
-------------------------------------------------- */
@mixin stickArrow {
  content: "";
  position: absolute;
  top: 25%;
  right: 0;
  width: 16px;
  height: 4px;
  border-bottom: 2px solid $border-black;
  border-right: 2px solid $border-black;
  transform: skew(45deg);
}

/* --------------------------------------------------
  VW指定
-------------------------------------------------- */
//pxをvwに変換するfunction
@function _get_vw($size, $viewport: 375) {
  $rate: calc(100 / $viewport);
  @return $rate * $size * 1vw;
}

//画像用のmixin
@mixin img-vw($img_size, $viewsize: 375) {
  width: $img_size * 1px;
  width: _get_vw($img_size, $viewsize);
}
