/* ===================================================
 mixin.scss
 使い回しパーツの定義
================================================== */
/* //////////// 変数読み込み //////////// */
@use "./config/variables" as *;

/* --------------------------------------------------
  Max-Width コンテンツ最大幅の指定
-------------------------------------------------- */ 
@mixin maxWidth {
  max-width: $max-width;
  margin: 0 auto;
}

/* --------------------------------------------------
  Center-Width 文字列最大幅の指定
-------------------------------------------------- */
@mixin centerWidth {
  max-width: $center-width;
  margin: 0 auto;
}
