/*===================================================
  variables.scss
  変数格納
================================================== */

/* --------------------------------------------------
 Width 画面・コンテンツ幅
-------------------------------------------------- */ 
$max-width: 1280px;
$center-width: 976px;
$single-width: 768px;

/* --------------------------------------------------
 Background ページ背景色
-------------------------------------------------- */ 
$background-white: #fafafa;
$background-gray: #f4f4f4;
$background-black: #555;
$background-footer: #313131;
$background-opacity: rgba(85, 85, 85, 0.90);

/* --------------------------------------------------
 Nav-Background ナビゲーション背景色
-------------------------------------------------- */ 
$background-nav: rgba(85, 85, 85, 0.90);

/* --------------------------------------------------
 Slide-Background スライド Prev/Nextボタン背景色
-------------------------------------------------- */ 
$slide-arrow: rgba(85, 85, 85, 0.65);
$slide-arrow_hover: rgba(85, 85, 85, 0.9);

/* --------------------------------------------------
 Box-Shadow 影
-------------------------------------------------- */ 
$shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);

/* --------------------------------------------------
 Color フォント色
-------------------------------------------------- */ 
$font-white: #fafafa;
$font-black: #555;
$font-background: #E2E2E2;  // トップページの背景文字のみ

/* --------------------------------------------------
 Border 罫線色
-------------------------------------------------- */ 
$border-black: #707070;
$border-base: #cecece;
$border-contact: #a7a7a7;

/* --------------------------------------------------
 Button/Link ボタン,リンク色
-------------------------------------------------- */ 
$button_background: #555;
$button-hover: #818181;

/* --------------------------------------------------
 Font Family 文字指定
-------------------------------------------------- */ 
$font-family-sans-serif: 'Noto Sans', YuGothic,'Yu Gothic','ヒラギノ角ゴシック','Hiragino Sans','Arial', sans-serif;
$font-catch-copy: 'klee','ヒラギノ明朝 ProN','Hiragino Mincho ProN',sans-serif;

/* --------------------------------------------------
 Line Height 行間
-------------------------------------------------- */ 
$line-height-base:  3.2;
$line-height-list:  2.4;

/* --------------------------------------------------
 Letter Spacing 文字間
-------------------------------------------------- */ 
$letter-spacing: 0.1em;


