/*===================================================
 blog.scss
 blogページの指定
================================================== */
/* //////////// 変数読み込み //////////// */
@use "../mixin/mixin" as *;
@use "../config/variables" as *;
@use "../config/function" as *;
@use "../config/mq" as *;
/* //////////// 変数読み込み //////////// */
/* --------------------------------------------------
  
-------------------------------------------------- */
.blog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 32px 64px;
  margin-bottom: 48px;
  @include mq(sp) {
    gap: 16px 16px;
  }
}
